html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// Font Faces

// Inter

// Standard
@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

//Font-weight 700
@font-face {
    font-family: 'Inter Semibold';
    src: url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}


// Nunito Sans

// Standard
@font-face {
    font-family: 'Nunito Sans Regular';
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
}

// Font-weight 700
@font-face {
    font-family: 'Nunito Sans Bold';
    src: url('../fonts/Nunito_Sans/NunitoSans-Bold.ttf') format('truetype');
}

// Font-weight 900
@font-face {
    font-family: 'Nunito Sans Black';
    src: url('../fonts/Nunito_Sans/NunitoSans-Black.ttf') format('truetype');
}

// Fonts Variables

$base-font-inter: 'Inter Regular', sans-serif;
$semibold-font-inter: 'Inter Semibold', sans-serif;

$base-font-nunito: 'Nunito Sans Regular', sans-serif;
$bold-font-nunito: 'Nunito Sans Bold', sans-serif;
$black-font-nunito: 'Nunito Sans Black', sans-serif;

// Colors Variables
$primary: #111111;
$secondary: #666665;
$tertiary: #A5D6A7;
$quaternary: #FFFFFF;
$quinary: #A5D6A757;
$border: #808080;

// Misc button colors
$light-blue: #e6f3fbc5;

// Mixins

// General Mixins
@mixin containerShadow {
    border: 1px solid #d4d4d4;
    box-shadow: 2px 4px hsla(0, 0%, 83%, .5);
}

@mixin containerShadowTwo {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
}

@mixin containerShadowThree {
    box-shadow: 0px 36px 89px rgba(0, 0, 0, 0.04), 0px 23.3333px 52.1227px rgba(0, 0, 0, 0.0303704), 0px 13.8667px 28.3481px rgba(0, 0, 0, 0.0242963), 0px 7.2px 14.4625px rgba(0, 0, 0, 0.02), 0px 2.93333px 7.25185px rgba(0, 0, 0, 0.0157037), 0px 0.666667px 3.50231px rgba(0, 0, 0, 0.00962963);
}

@mixin popUpShadow {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .047), 0 1.54074px 2.86667px rgba(0, 0, 0, .073), 0 .32593px .73333px rgba(0, 0, 0, .12);
}

@mixin notSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

// Text Related Mixins

@mixin defaultClickText($sizeValue) {
    font-family: $semibold-font-inter;
    font-size: $sizeValue;
    font-weight: normal;
}

@mixin secondaryHeading($sizeValue) {
    font-family: $bold-font-nunito;
    font-size: $sizeValue;
    font-weight: normal;
}

@mixin secondaryHeadingDescription($sizeValue) {
    font-family: $base-font-nunito;
    font-size: $sizeValue;
    font-weight: normal;
}

// Button Mixins

@mixin button($sizeValue, $borderRadiusValue, $paddingValue, $colorValue) {
    font-family: $bold-font-nunito;
    font-weight: normal;
    font-size: $sizeValue;
    border-radius: $borderRadiusValue;
    padding: $paddingValue;
    color: $colorValue;
}

@mixin buttonInter($sizeValue, $borderRadiusValue, $paddingValue, $colorValue, $backgroundColorValue) {
    font-family: $semibold-font-inter;
    font-weight: normal;
    font-size: $sizeValue;
    border-radius: $borderRadiusValue;
    padding: $paddingValue;
    color: $colorValue;
    background-color: $backgroundColorValue;
}

@mixin googleBtnDefault {
    background: conic-gradient(from -45deg, #5c403e 110deg, #132034 90deg 180deg, #6f9a7b 180deg 270deg, #9a8f6f 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    transition: all 0.3s linear;
}

@mixin googleBtnHover {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
}

// Modal Mixins

@mixin modal($zValue, $borderRadiusValue, $backgroundColor, $paddingValue) {
    position: fixed;
    z-index: $zValue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $backgroundColor;
    border-radius: $borderRadiusValue;
    padding: $paddingValue;
}

@mixin overlayModal {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

// Hover Mixins

@mixin underlineHover($underlineBoolean, $defaultBorderBoolean) {
    @if $underlineBoolean {
        text-decoration: underline;
    }

    @if $defaultBorderBoolean {
        border: 1px solid #d4d4d4;
    }
    box-shadow: 2px 4px rgba(112, 112, 112, 0.5);
}

@mixin shadowIncreaseHover {
    box-shadow: -1px 2px 29px 4px rgba(0,0,0,0.16);
    -webkit-box-shadow: -1px 2px 29px 4px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 2px 29px 4px rgba(0,0,0,0.16);
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    font-family: $base-font-inter;
}

.topNavigation {
    font-family: $base-font-inter;
}

button {
    font-family: $base-font-nunito;
}

i {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
    font-family: $semibold-font-inter;
}

.customTaskErrorMsg {
    font-size: 0.8rem;
    color: red;
    padding: 5px;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.defaultHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    background-color: #FFFEFC;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

input[type="date"],
input[type="time"] {
    display: block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}

.wrongCredentialContainer {
    background-color: #FFECE8;
    border: 1px solid #BF6853;
    text-align: center;
    padding: 15px;
    color: black;

    p,
    li {
        font-size: 0.9rem;
        margin: 0 !important;
    }

    p:nth-child(1) {
        @include defaultClickText(inherit);
    }   

    ul {
        list-style-type: disc;
    }
}