@use '../partials/base';

.react-calendar {
    width: 100%;
    background-color: transparent;
    color: black;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation {
    display: flex;
    align-items: center;
}

.react-calendar__navigation button {
    color: black;
    min-width: 44px;
    background: none;
    font-size: 1rem;
    margin-top: 8px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 1px solid #F2F3F6;
    outline: none;
    position: relative;
    height: 58px;

    abbr {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: normal;
        font-size: 0.8rem;
    }
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
}

.react-calendar__navigation button {
    min-width: 44px;
}

.react-calendar__month-view__weekdays {
    @include base.defaultClickText(0.75em);
    text-align: center;
    text-transform: uppercase;

    abbr {
        text-transform: capitalize;
    }
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0;
    border: 1px solid #d7d6d6;
    border-radius: 2px 2px 0 0;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    @include base.defaultClickText(0.75em);
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */
    color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(122, 120, 120);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: white;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    /* background: #ffff76; */
    background-color: #a5d6a7 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #93be94;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: rgb(236, 235, 235);
    color: rgb(127, 127, 127);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: rgb(237, 236, 236);
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__navigation button {
    border: 0;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}


.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    @include base.containerShadow;
    @include base.button(0.8rem, 15px, 15px, black);
    background-color: white;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button:hover {
    @include base.underlineHover(false, true);
}

.react-calendar__navigation__next-button::before {
    content: "Next ";
    color: black;
}


.react-calendar__navigation__prev-button::after {
    content: " Back";
    color: black;
}

.react-calendar__month-view {
    box-shadow: 2px 4px hsla(0, 0%, 83%, .5);
}

.react-calendar__navigation__label__labelText {
    @include base.secondaryHeading(1.2rem);
}

.react-calendar__viewContainer {
    margin-top: 20px;
}

.calendarPage{
    min-height: 100vh;
    background-color: #F6F7FA;
    padding-bottom: 75px;

    .calendarSection {
        position: relative;
        padding: 25px 50px 0px 50px;
        margin-left: 100px;
        display: flex;
        justify-content: center;
    }

    .overallTaskOverview {
        margin-left: 100px;
        padding: 25px 50px 0px 50px;

        h2 {
            @include base.secondaryHeading(1.1rem);
            @include base.containerShadow;
            text-decoration: underline;
            background-color: #f4f4f4;
            border-radius: 10px;
            padding: 10px 10px 10px 15px;
            background-color: white;
        }
    }

    .displayTasksSection {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .taskContainer {
            @include base.containerShadow;
            width: 48%;
            background-color: #FFFFFF;
            padding: 20px;
            margin-top: 20px;
            border-radius: 15px;
            height: 150px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .taskContainer:hover {
            @include base.underlineHover(false, true);
        }

        .taskName {
            @include base.secondaryHeading(0.8rem);
            margin-bottom: 10px;
        }

        .taskName:hover {
            text-decoration: underline;
        }
    }

    .deadlineSection {
        display: flex;
        align-items: center;

        p {
            font-size: 0.7rem !important;
        }

        i {
            font-size: 0.8rem;
            margin-right: 10px;
        }
    }

    .low {
        background-color: #a5d6a78a !important;
    }

    .medium {
        background-color: #feefd093 !important;
    }

    .high {
        background-color: #ffced670 !important;
    }

    .labelParagraph {
        @include base.containerShadow;
        border-radius: 5px;
        margin-right: 10px;
        padding: 5px;
        background-color: white;
        display: inline-block;
        font-size: 0.8rem;
        text-transform: capitalize;
        margin-top: 5px;
    }

    .loadingContainer {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .progressContainer {
        display: flex;
        align-items: center;
        margin-top: 15px;

        p {
            padding-left: 10px;
            font-size: 0.8rem;
        }
    }

    .progressBar {
        width: 100%;
        height: 10px;
        background-color: white;
        border-radius: 5px;
    }

    .progressColor {
        background-color: #A5D6A7;
        height: 10px;
        border-radius: 5px;
    }

    .fa-circle {
        @include base.containerShadow;
        font-size: 0.3rem;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        color: #f57d3dcd;
    }

    .noResultsFound {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        text-align: center;
        color: #9e9d9d;
        @include base.defaultClickText(inherit);

        .errorImageContainer {
            width: 150px;
            height: auto;
        }
    }

    .overlayBackground {
        z-index: 20;
    }

    .overlayBackgroundTwo {
        z-index: 40;
    }

    .homeNavigation {
        z-index: 30;
    }

    .createTaskForm {
        z-index: 50;
    }

    .currentTaskSelected {
        border: 1px solid rgba(71, 71, 71, 0.8) !important;
        box-shadow: 2px 4px rgba(181, 181, 181, 0.886) !important;
    }
}


@media (max-width: 940px) {
    .calendarPage {
        .displayTasksSection {
            display: flex;
            flex-direction: column;

            .taskContainer {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .calendarPage{
        .displayTasksSection .taskContainer {
            height: 185px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .calendarSection,
        .overallTaskOverview {
            padding: 25px 15px 0px 15px;
        }
    }
}

@media (max-width: 575px) {
    .calendarPage {
        .calendarSection,
        .overallTaskOverview {
            margin-left: 75px;
        }
    }
}

@media (max-width: 480px) {
    .calendarPage{

        .taskName {
            margin-bottom: 0;
        }

        .displayTasksSection .taskContainer {
            height: 250px;
            justify-content: space-around;
        }

        .progressContainer {
            margin-top: 0;
        }
    }
}