.react-calendar {
    width: 100%;
    background-color: transparent;
    color: black;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

.react-calendar__navigation {
    display: flex;
    align-items: center;
}

.react-calendar__navigation button {
    color: black;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 1px solid #F2F3F6;
    outline: none;
    position: relative;
    height: 70px;

    abbr {
        position: absolute;
        top: 2px;
        right: 3px;
        font-weight: normal;
        font-size: 0.8rem;
    }
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
}

.react-calendar__navigation button {
    min-width: 44px;
    /* background: none; */
}

// .react-calendar__navigation button:enabled:hover,
// .react-calendar__navigation button:enabled:focus {
//     border: 1px solid gainsboro;
// }

.react-calendar__navigation button[disabled] {
    background-color: black
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    font-family: Nunito Sans ,sans-serif;

    abbr {
        text-transform: capitalize;
    }
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0;
    border: 1px solid #d7d6d6;
    border-radius: 2px 2px 0 0;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */
    color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: rgb(122, 120, 120);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: white;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    /* background: #ffff76; */
    background-color: #a5d6a7 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #93be94;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: rgb(236, 235, 235);
    color: rgb(127, 127, 127);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: rgb(237, 236, 236);
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__navigation button {
    border: 0;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}


.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    background-color: white;
    border: 1px solid #d7d6d6;
    height: 25px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 2px 4px hsla(0, 0%, 83%, .5);
    border: 1px solid hsla(0, 0%, 83%, .9);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.react-calendar__navigation__next-button::before {
    content: "Next ";
    color: black;
}


.react-calendar__navigation__prev-button::after {
    content: " Back";
    color: black;
}

.react-calendar__month-view {
    box-shadow: 2px 4px hsla(0, 0%, 83%, .5);
}

.react-calendar__navigation__label__labelText {
    font-size: 1.2rem;
}

.react-calendar__viewContainer {
    margin-top: 20px;
}

.calendarSection {
    position: relative;
    padding: 25px 50px 0px 50px;
    margin-left: 100px;
    background-color: #F6F7FA;
    height: 100vh;
}
