@use '../partials/base';

.createAccountPage {
    position: relative;

    main {
        display: flex;
    }

    .errorInput {
        border: 1px solid red;
    }

    .errorEmailMessage {
        background-color: #FFECE8;
        border: 1px solid #BF6853;
        background-color: #FFFFFF;
        color: black;
    }

    .createAccountSection {
        width: 60%;
        padding-left: 25px;
        background-color: #A5D6A7;
        height: calc(100vh - 40px);
        display: flex;
        align-items: center;

        h2 {
            font-size: 2rem;
            color: white;
        }

        input {
            @include base.containerShadow;
            @include base.button(inherit, 25px, 10px 5px 10px 55px, black);
            width: 100%;
            font-family: inherit;
            margin: 10px 0;
        }
    }

    .formOne {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signInSection {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 200px 0;
        background-image: url("../assets/signUpPageBlob.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50%;


        h1 {
            font-size: 2.5rem !important;
        }

        .signInBtn {
            @include base.containerShadow;
            @include base.button(inherit, 25px, 15px 25px, black);
            width: 250px;
            background-color: white;
        }

        .signInText {
            margin: 25px 0;
            padding: 0 50px;
        }
    }
    
    .logoSection {
        position: absolute;
        top: 25px;
        left: 25px;
        display: flex;
        align-items: center;

        .imageContainer {
            @include base.containerShadow;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;

            img {
                height: auto;
                width: 100%;
                padding: 10px;
            }
        }

        p {
            margin-left: 15px;
            @include base.defaultClickText(1.1rem);
        }
    }

    .googleBtn {
        @include base.button(inherit, 50%, 10px, black);
        border: 1px solid black;
        width: 50px;
        height: 50px;
        background-color: white;
        margin: 15px 0;

        i {
            font-size: 1.3rem;
            color: black;
        }
    }

    .credentialsSection {
        text-align: center;
        color: white;
    }
    
    .optionText {
        margin-bottom: 25px;
    }

    .labelInputContainer {
        width: 100%;
        position: relative;

        i {
            position: absolute;
            left: 25px;
            color: rgba(212, 212, 212, 0.9);
            font-size: 1.1rem;
            top: 50%;
            transform:translateY(-50%)
        }
    }

    .continueBtn {
        @include base.containerShadow;
        @include base.button(inherit, 25px, 15px, black);
        background-color: white;
        text-decoration: none;
        width: 250px;
        margin-top: 25px;
    }

    .formTwo {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;

        p {
            font-size: 0.9rem;
        }

        input[type="file"] {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

        label {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: black;
            padding: 10px 15px;
            margin: 25px 0;
            width: 250px;
            border: 1px solid black;
            box-shadow: 2px 4px rgba(0, 0, 0, 0.7)
        }

        button[type="submit"] {
            @include base.containerShadow;
            @include base.defaultClickText(inherit);
            background-color: white;
            border-radius: 25px;
            padding: 15px 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profileImageDirections {
            width: 85%;
        }
    }

    .profileImageContainer {
        @include base.containerShadow;
        margin: 25px 0;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: white;

        img {
            width: 100%;
            height: 100%;
        }
    }

    footer {
        padding: 10px 0;
        border-top: 1px solid rgba(212, 212, 212, 0.9);
        color: #878685;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: 50%;
            }

            p {
                font-size: 0.8rem;
            }

            a {
                display: inline-block;
            }

            .creditFooterLink {
                text-align: end;
            }
        }
    }
}

@media (max-width: 940px) {
    .createAccountPage {

        main {
            flex-direction: column;
        }

        .signInSection {
            width: 100%;
            padding: 80px 0;
            background-position-x: 50%;

            h1 {
                font-size: 2rem !important;
            }
        }

        .createAccountSection {
            width: 100%;
            padding-left: 0;
            order: -1;
        }
    }
}

@media(max-width: 480px) {
    footer {
        ul {
            flex-direction: column;

            li {
                width: 100% !important;
            }
        }

        .creditFooterLink {
            justify-content: flex-start;
            margin-top: 15px;
        }

        p {
            text-align: start;
        }
    }
}