// To Do List Section

.toDoListSection {
    margin-top: 25px;
    background-color: white;
    // box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    border: 1px solid #d4d4d4;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .toDoListTitleContainer {
        background-color: #F6F4F9;
        border-bottom: 1px solid #d4d4d4;
        padding: 10px 0px;
        width: 100%;
        position: relative;

        button {
            border: 0;
            position: absolute;
            top: 5px;
            right: 15px;
        }

        i {
            font-size: 1rem;
            color: black;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            border: 1px solid #d4d4d4;
            border-radius: 50%;
            padding: 1px;
            background-color: #F6F4F9;
        }
    }

    .toDoListTasks {
        min-height: 100%;

        li {
            font-family: inherit;
            text-transform: capitalize;
            color: gray;
            font-size: 0.7rem;
            border: 1px solid #d4d4d4;
            padding: 8px 5px;
        }

        .toDoTaskWidget {
            position: relative;
            box-shadow: 0 ;
            border: 0;

            li {
                display: flex;
            }

            p {
                font-size: 0.7rem;
                margin-left: 5px;
                color: black;
            }
        }

        button {
            position: absolute;
            top: 0px;
            right: 7px;
        }

        i {
            font-size: 0.9rem;
            color: rgb(230, 27, 27);
        }
    }

    .toDoInputContainer {
        display: flex;
        margin: 0px 10px 10px 10px;
        position: relative;

        input {
            height: 0;
            width: 0%;
            border: 0;
            padding: 0;
            padding-left: 10px;
            border: 0;
            border-radius: 5px 15px 15px 5px;
            transition: all 0.2s linear 0.2s;
        }

        .buttonOff {
            display: none;
        }

        .inputOn {
            height: 40px;
            width: 100%;
            border: 1px solid #d4d4d4;
        }

        button {
            border: 0;
            border-radius: 50%;
            background-color: #F6F4F9;
            color: black;
            padding: 0px 5px;
            height: 40px;
            width: 40px;
            position: absolute;
            bottom: 0;
            right: -5px;
            border: 1px solid #d4d4d4;
            text-align: center;
        }
    }
}