.homeDashboard {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 15px;
        padding: 0 25px;
    }

    .dashboardGreeting {
        margin-left: 15px;
        margin-bottom: 5px;
        padding: 0 25px;
    }

    .allTasksContainer {
        position: relative;
        margin: 0 25px;

        .lds-ring {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .taskContainer {
        border: 1px solid rgb(212, 212, 212);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        height: 150px;
        border-radius: 5px;
        padding: 25px 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        transition: all 0.8s ease-out 1s;

        button {
            border: 0;
        }

        .taskAdditionalInfo {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .dueDateContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .buttonContainer {
            position: absolute;
            top: 20px;
            right: 20px;
            border: 0;
            display: flex;

            i {
                font-size: 1.4rem;
            }

            .exitBtn {
                margin-left: 15px;
            }

            .finishButton {
                background-color: #0D66D0;
                color: white;
                font-size: 0.7rem;
                padding: 2px 15px;
                border-radius: 2px;
                margin-right: 1px;
                box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
                cursor: pointer;
            }

            .fa-angle-down {
                background-color: #0D66D0;
                padding: 7px 5px;
                border-radius: 2px;
                font-size: 0.7rem;
                color: white;
                box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            }
        }

        .buttonContainer.buttonHidden {
            display: none;
        }

        input[type="checkbox"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid $primary;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: block;
            margin: 0 25px 0 0;
            cursor: pointer;

        }

        .dropdownOptions {
            width: 100%;
            position: absolute;
            top: 100%;
            background-color: white;
            border: 1px solid rgb(212, 212, 212);

            li {
                border-bottom: 1px solid rgb(212, 212, 212);
            }

            button {
                font-weight: 300;
                font-size: 0.7rem;
                padding-left: 5px;
            }
        }

        .dropdownOptions.hidden {
            display: none;
        }
    }

    .noTaskFoundContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-top: 50px;
    }

    .loadingContainer {
        height: 200px;

        p {
            margin-bottom: 150px;
        }
    }

    .errorImageContainer {
        width: 80px;
        height: auto;

        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .errorImageContainerTwo {
        margin-top: 20px;
    }

    .taskMainContainer.closedContainer {
        height: 0;
        overflow-y: hidden;
    }

    .taskMainContainer.openContainer {
        height: initial;
        overflow-y: auto;
    }

    .fa-sort,
    .fa-magnifying-glass,
    .fa-arrow-down-wide-short {
        font-size: 0.8rem;
    }

    .fa-magnifying-glass {
        margin-right: 10px;
    }

    .taskFinderContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        border-bottom: 1px solid rgb(224, 225, 227);
        padding: 0px 25px 15px 25px;
        
        .taskListButtons {
            display: flex;

            button {
                margin-right: 10px;
            }
        }
    }

    .searchContainer {
        position: relative;
        display: flex;
        align-items: center;

        .lds-ring {
            position: absolute;
            right: 20px;
            top: 10%;
            height: 20px;
            width: 20px;

            div {
                height: 20px;
                width: 20px;
                border: 3px solid #A5D6A7;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #A5D6A7 transparent transparent transparent;
            }
        }
    }

    .searchBarInput {
        height: 40px;
        border: 0;
        padding: 5px 15px;
        border-radius: 10px;
        border: 1px solid rgba(212, 212, 212, 0.8);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    }

    .searchBarInput::placeholder {
        font-family: $base-font;
    }

    .toDoTask,
    .doneTask {
        width: 50%;
        padding: 5px 0px;
        height: 35px;
    }

    .toDoTask {
        border-radius: 15px 0px 0px 15px;
    }

    .doneTask {
        border-radius: 0px 15px 15px 0px;
        color: black;
        text-decoration: none;
    }

    .taskText {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .taskButtonActive {
        color: white;
        background-color: black;
    }

    .taskFilters {
        margin: 30px 0 20px 0;
        padding: 0 25px;

        p {
            color: black;
            text-decoration: none;
        }
    }

    .labelContainer {
        display: flex;

        p {
            border: 1px solid rgba(212, 212, 212, 0.8);
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            border-radius: 5px;
            margin-right: 10px;
            padding: 5px;
        }

        .personal {
            background-color: #FBF1F4;
        }

        .school {
            background-color: #F6F4F9;
        }

        .work {
            background-color: #EDF2EC;
        }

        .importantDate {
            background-color: #E6F3FB;
        }

        .appointment {
            background-color: #F6F4F9;
        }

        .exercise {
            background-color: #FAF1F4;
        }

        .chores {
            background-color: #f8f1fb;
        }

        .low {
            background-color: #A5D6A7;
        }

        .medium {
            background-color: #FEEFD0;
        }

        .high {
            background-color: #FFCED6;
        }

        .lateLabel {
            background-color: #fedde7;
        }
    }

    .buttonRelativePosition {
        position: relative;
    }

    .filterContainer {
        background-color: #e6f3fbc5;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
        padding: 5px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
        }
    }

    .filterModal {
        border-radius: 5px;
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 9;
        width: 200px;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
        background-color: white;

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 0;

            div {
                display: flex;
                align-items: center;
                border-bottom: 0.5px solid rgba(181, 179, 179, 0.8);
                padding: 5px 0;

                input[type="radio"] {
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    appearance:none;
                    border: 1px solid black;
                    height: 17px;
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;
                    margin: 0 10px;
                    cursor: pointer;
                }

                input[type=radio]:checked::before {
                    content: '✔️';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    line-height: 12px;
                }

                label {
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 300;
                    font-size: 0.8rem;
                }
            }
        }
    }

    .taskDeadlineDateContainer {
        display: flex;
        position: relative;

        p {
            border-bottom: 1px solid rgb(224, 225, 227);
            background-color: rgb(244, 244, 244);
            border-radius: 5px 0 0 5px;
            padding: 5px 5px 5px 15px;
            width: 100%;
        }
    }

    .dropdownBtn {
        border-bottom: 1px solid rgb(224, 225, 227);
        background-color: rgb(244, 244, 244);
        border-radius: 0 5px 5px 0;
        padding-right: 15px;
    }

    .noWrapText {
        white-space: nowrap;
    }
}

.homePage .loadingOverlayContainer {
    position: fixed;
    z-index: 20;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    .loadingContainer {
        z-index: 20;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(246, 226, 232);
        border-radius: 10px;
        border: 1px solid #d4d4d4;
        box-shadow: 2px 4px rgb(240, 141, 171);
        padding: 25px;

        p {
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 25px;
        }
    }

    .imageContainer {
        width: 75px;
        height: auto;

        img {
            height: auto;
            width: 100%;
        }
    }
}


@media (max-width: 768px) {
    .taskFinderContainer {
        flex-direction: column;
    }

    .homeDashboard {
        .filterModal {
            width: 100%;
        }
    }

    .taskListButtons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .buttonRelativePosition {
        width: calc(50% - 10px);

        button {
            margin-right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .searchContainer {
        width: 100%;
        margin-top: 20px;

        input {
            width: 100%;
        }
    }
}

@media(max-width: 575px) {
    .homeDashboard {
        width: calc(100% - 75px);

        .taskContainer {
            height: 170px;
            align-items: flex-start;
        }
    }
}

@media(max-width: 480px) {
    .homeDashboard {

        .taskContainer {
            height: 200px;

            .taskAdditionalInfo {
                flex-direction: column;
            }
        }

        .taskDescription {
            display: none;
        }

        .labelContainer {
            justify-content: center;
            margin-bottom: 20px;
        }

        .dueDateContainer p {
            text-align: center;
        }

        .phoneHidden {
            display: none;
        }

        h1.noWrapText {
            text-align: center;
        }
    }
}