@use '../partials/base';

.frontPage{

    // Header Styles

    .flexHeader{
        display: flex;
        justify-content: space-between;
        margin: 100px 0 50px 0;
    }

    .heroInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 42%;

        h1 {
            font-size: 2.5rem !important;
            font-family: base.$black-font-nunito;
            text-transform: capitalize;
            line-height: 65px;
        }

        p {
            font-family: base.$base-font-nunito;
            margin: 30px 0;
        }
    }

    .heroImageContainer {
        max-width: 50%;
    }

    .heroBtn {
        @include base.containerShadowTwo;
        @include base.buttonInter(inherit, 8px, 8px 10px, base.$quaternary, base.$tertiary);
        text-align: center;
        border: 0;
        max-width: 40%;
        border: 1px solid rgba(212, 212, 212, 0.8);
        transition: all 0.3s ease;

        &:hover {
            @include base.containerShadowThree;
        }
    }

    // Main Section Styles

    .contentOneContainer {
        display: flex;
        margin-bottom: 75px;
    }

    .imageContainer {
        @include base.containerShadowThree;
        min-width: 60%;
        width: 60%;
    
        img {
            width: 100%;
            height: auto;
        }
    }

    .contentOneIconContainer {
        width: 75px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .contentOneInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;

        h2 {
            padding: 20px 0 10px 0;
        }

        p {
            font-size: 1rem;
            color: #666665;
        }
    }

    // Footer Section Styles
    
    footer {
        ul {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(212, 212, 212, 0.8);
            padding: 25px 0;

            li {
                color: #878685;
                width: 50%;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .creditFooterLink {
            display: flex;
            justify-content: flex-end;

            a {
                display: inline-block;
            }
        }
    }

}

@media(max-width: 940px) {
    .frontPage {

        // Header

        .flexHeader {
            flex-direction: column;
            align-items: center;
            margin: 50px 0 50px 0;
        }

        .heroInfo {
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .heroBtn {
            width: 40%;
        }

        .heroImageContainer {
            order: -1;
        }

        // Nav
        
        .desktopHiddenAnchor {
            display: none;
        }

        .mobileHambugerBtn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // Content

        .contentOneContainer {
            flex-direction: column;
        }

        .contentOneInfo {
            order: -1;
            padding-left: 0;
            margin-bottom: 25px;
        }

        .imageContainer {
            width: 100%;
            min-width: 100%;
        }
    }
}

@media(max-width: 480px) {
    .frontPage {

        footer {
            ul {
                flex-direction: column;

                li {
                    width: 100%;
                }
            }

            .creditFooterLink {
                justify-content: flex-start;
                margin-top: 15px;
            }

        }
    }
}