@use '../partials/base';

.habitPage {
    background-color: #F6F7FA;
    min-height: 100vh;

    .homeNavigation {
        z-index: 19;
    }

    .habitTrackingContent {
        position: relative;
        padding: 25px 50px 0px 50px;
        margin-left: 100px;
        min-height: 100vh;
    }

    .habitContentOne {
        width: 70%;
        margin-right: 20px;
    }

    .habitContentTwo {
        width: 30%;

        .dailyDetails {
            margin-bottom: 15px;

            p {
                font-size: 0.7rem;
                text-align: end;
                margin-top: 10px;
            }
        }

        .dailyDateContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            button {
                @include base.button(inherit, 50%, 0, inherit);
                border: 1px solid rgb(212, 212, 212);
                height: 30px;
                width: 30px;
                background-color: white;
                margin-left: 5px;

                i{
                    font-size: 1rem;
                    color: black;
                }   
            }

            button:not(.disabledArrow):hover,
            button:not(.disabledArrow):focus{
                @include base.containerShadowTwo;
            }

            button.disabledArrow {
                background-color: #d9dee0;
                color: #a8b4b9;
            }

            h2 {
                @include base.secondaryHeading(1rem);
            }
        }

        .dailyCompletionBar {
            width: 100%;
            height: 8px;
            background-color: white;
            border-radius: 15px;
            margin-top: 10px;
        }
    }

    .completionFill {
        height: 8px;
        border-radius: 15px;
        background-color: #017AFF;
        width: 0%;
    }
    
    .weeklyHabitDetails {
        width: 100%;

        h2 {
            @include base.secondaryHeading(inherit)
        }
        
        .weekCompletionBar {
            width: 100%;
            height: 8px;
            background-color: #EDF3FA;
            border-radius: 5px;
        }

        p {
            font-size: 0.8rem;
            margin-bottom: 10px !important;
            margin-top: 5px;
            text-align: end;
        }
    }

    .habitListContainer {
        @include base.containerShadow;
        background-color: white;
        border-radius: 15px;
        height: 80%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0;
        min-height: 250px;
    }

    .habitFlexContainer {
        display: flex;
        min-height: 100vh;
    }

    .noHabitsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9e9d9d;
        height: 100%;
        width: 100%;

        img {
            display: block;
            width: 150px;
            height: auto;
        }
    }

    .addHabitBtn {
        @include base.containerShadow;
        @include base.button(0.8rem, 25px, 5px 20px, #197DE7);
        background-color: white;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;

        i {
            font-size: 1rem;
            margin-right: 10px;
        }
    }

    .addHabitBtn:hover,
    .addHabitBtn:focus {
        @include base.underlineHover(false, true);
    }

    .userGreetingText {

        h1 {
            @include base.secondaryHeading(1.5rem);
        }

        p {
            margin-top: 5px;
            @include base.secondaryHeadingDescription(1rem);
        }
    }

    .habitCalendar {
        @include base.containerShadow;
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #a5d6a79f;
        padding: 10px 15px;
        border-radius: 15px;

        h2 {
            margin-bottom: 15px;
        }

        ul {
            display: inline-flex;
            background-color: white;
            border-radius: 15px;
            width: 100%;

            li {
                padding: 10px 5px;
                width: calc(100% / 7);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            p {
                font-weight: normal;
                font-size: 0.8rem;
                color: black;
            }
        }

        button {
            padding: 10px 15px;
            border-radius: 15px;
        }

        button:not(.today):hover,
        button:not(.today):focus {
            background-color: #a5d6a78c;
        }

        p:nth-child(odd) {
            margin-bottom: 5px;
        }

        h2 {
            font-size: 1rem;
        }

    }
    
    .today {
        background-color: #A5D6A7;
    }

    
    .habitCalendarBreakdown {
        display: flex;
        flex-direction: column;
        position: relative;

        table {
            width: 80%;
            display: block;

            tr {
                display: flex;
                justify-content: space-around;
            }

            td {
                border-radius: 5px;
                height: 1.5rem;
                width: 1.5rem;
                background-color: white;
            }
        }

        tr {
            width: 100%;
            display: block;
        }

        th, 
        td {
            width: calc(100% / 7);
            height: 35px;
            text-align: center;
            font-size: 0.9rem;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            font-weight: lighter;
        }

        td {
            border: 1px solid rgb(212, 212, 212);
            width: calc(50% / 7);
        }

        .rowIdentifiers {
            display: flex;
            align-items: center;
            width: 20%;

            p {
                font-size: 0.8rem;
            }

            i {
                font-size: 0.6rem;
                margin-right: 10px;
            }
        }

        .loadingContainer {
            position: absolute;
            left: 0;
            right: 0;
        }

        .habitListError {
            @include base.defaultClickText(inherit);
            height: 100%;
            text-align: center;
            margin-top: 25px;
            color: #9e9d9d;
        }
    }
    
    .habitCalendarBreakdown {
        margin-top: 20px;
    }
    
    .tableHeaders {
        width: 80% !important;
        align-self: flex-end;

        tbody {
            width: 100%;
            display: block;
        }
    }

    .taskCompletionTable {
        display: flex;
        margin-bottom: 15px;
    }

    .fillInTable {
        width: 80%;

        tbody {
            display: block;
            width: 100%;
        }

        .filledHabitDay {
            background-color: #e5d9f7
        }

    }

    .showMoreContainer {
        height: 30px;
        display: flex;
        justify-content: center;
        
        i {
            font-size: 1.2rem;
            border: 1px solid rgb(212, 212, 212);
            border-radius: 50%;
            background-color: black;
            color: white;
        }
    }

    .buttonContainer {
        width: 100%;
        border-bottom: 2px solid rgba(212, 212, 212, 0.9);
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrowIcon {
            font-size: 1.5rem;
            border: 1px solid rgb(212, 212, 212);
            border-radius: 50%;
            background-color: black;
            color: white;
        }

        .arrowIcon.disabledArrow {
            color: #d9dee0;
            background-color: #a8b4b9;
            cursor: auto;
        }

        button:hover .arrowIcon:not(.disabledArrow),
        button:focus .arrowIcon:not(.disabledArrow) {
            @include base.containerShadowTwo;
        }
        
    }

    .dashboardButtons {
        .arrowIcon {
            margin-right: 5px;
            transition: all 0.3s ease;
        }
    }

    // Create Habit Modal

    .createHabitModal {
        @include base.containerShadow;
        @include base.modal(30, 15px, white, 30px 80px);
        height: 90vh;
        width: 80vw;
        overflow-y: scroll;
        overflow-x: hidden;

        fieldset,
        legend {
            width: 100%;
        }

        legend {
            margin-bottom: 15px;
        }

        fieldset {
            display: flex;
            flex-direction: column;
        }
        
        select {
            @include base.containerShadow;
            background-color: white;
            border-radius: 5px;
        }

        h2 {
            font-size: 1.2rem;
            text-transform: capitalize;
            color: black;
            border-bottom: 3px solid #d4d4d4;
            padding-bottom: 10px;
            width: 100%;
            font-family: "Inter", sans-serif;
            margin-top: 25px;
        }

        .fa-circle-xmark {
            font-size: 1.4rem;
        }

        .exitHabitModalBtn {
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }

    .btnContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button[type="submit"],
        .cancelBtn {
            @include base.defaultClickText(inherit);
            @include base.containerShadow;
            padding: 5px 0px;
            min-width: 125px;
            border-radius: 10px;
            margin: 50px 0 0 15px;
        }

        button[type="submit"] {
            background-color: #36CB82;
            color: white;
        }

        .cancelBtn {
            @include base.notSelectable;
            color: black;
            text-align: center;
        }
    }

    label,
    legend {
        @include base.defaultClickText(inherit);
        color: #6D767E;
        font-size: 0.9rem;
        margin: 15px 0 10px 0;
        word-wrap: break-word;
    }
    
    .inputContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        input,
        select {
            @include base.containerShadow;
            border-radius: 5px;
            padding: 0px 0px 0px 8px;
            height: 35px;
        }
    }

    .habitContainer {
        color: black;
        margin: 15px;
        padding: 0px 10px;
        position: relative;
        height: 80px;

        .habitDetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        i {
            font-size: 1rem;
            color: black;
        }

        .markAsCompleteBtn {
            @include base.button(0.7rem, 5px, 5px 0, #197DE7);
            background-color: white;
            width: 100%;
            border: 1px solid rgba(212, 212, 212, 0.9);
            margin-top: 10px;
            transition: all 0.3s ease;
        }

        .markAsCompleteBtn:hover,
        .markAsCompleteBtn:focus {
            text-decoration: underline;
        }

        p {
            font-size: 0.9rem;
        }

        .dropdownOptions,
        .dropdownOptionsTwo {
            position: absolute;
            right: 10px;
            top: 20px;
            background-color: white;
            border: 1px solid rgba(212, 212, 212, 0.9);

            button {
                font-size: 0.7rem;
                font-weight: normal;
                padding: 0 10px;
            }
        }

        .dropdownOptions.hidden,
        .dropdownOptionsTwo.hidden {
            display: none;
        }

        .completedDiv {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            padding: 5px 0;

            p {
                display: flex;
                align-items: center;

                i {
                    padding-right: 5px;
                }
            }

            p,
            i,
            button {
                font-size: 0.6rem;
            }
        }

        .overlayBackground .lds-ring {
            left: 50%;
        }

        .completionIndicator ul{
            display: flex;
            margin-top: 10px;

            .completionBox {
                border: 1px solid #d4d4d4;
                border-radius: 50%;
                height: 10px;
                width: 10px;
                margin-right: 10px;
                
            }
        }
    }

    fieldset.labelColourContainer {
        flex-direction: row;
        justify-content: space-around;

        input[type=radio] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        input[type=radio]::before {
            @include base.containerShadow;
            content: " ";
            display: block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
        }

        input[type=radio]:checked::before {
            border: 1px solid rgb(127, 126, 126);
        }

        input[type=radio]:not(:checked):hover,
        input[type=radio]:not(:checked):focus {
            @include base.containerShadowTwo;
            border-radius: 50%;
        }

        .purpleLabel::before {
            background-color: #E5D9F7;
        }

        .pinkLabel::before {
            background-color: #FBD3DF;
        }

        .blueLabel::before {
            background-color: #A8ADFF;
        }

        .greenLabel::before {
            background-color: #D8F2D3;
        }

        .orangeLabel::before {
            background-color: #FBE7CD;
        }

        .redLabel::before {
            background-color: #fbc0c0;
        }

        .yellowLabel::before {
            background-color: #f8f3ad;
        }
    }

    .loadingContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .overlayLoading {
        position: absolute;
        border-radius: 15px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Media Queries

@media (max-width: 975px) {

    .habitPage {

        .habitFlexContainer {
            flex-direction: column;
        }

        .habitContentOne {
            width: 100%; 
        }
        
        .habitContentTwo {
            width: 100%;
        }

        .habitListContainer {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            padding: 15px 30px;
            max-height: 250px;
            overflow-y: scroll;
        }

        .habitContainer {
            width: calc(50% - 30px);
        }

        .showMoreContainer {
            display: none;
        }

        .showMoreHabitsBtn {
            margin-right: 5px;
        }

        .showPrevHabitsBtn {
            margin-left: 5px;
        }

        .habitTrackingContent {
            padding: 25px 50px 25px 50px
        }

        .habitContentTwo {
            margin-top: 30px;
            border-top: 2px solid rgba(212, 212, 212, 0.9);
            padding-top: 25px;
        }
    }
}

@media(max-width: 768px) {
    .habitPage {
        .habitContainer {
            width: 100%;
        }

        .habitTrackingContent {
            padding: 25px;
        }

        .habitCalendar {
            ul {
                justify-content: space-between;
                padding: 10px;

                p {
                    font-size: 0.7rem;
                }

                button {
                    padding: 5px;
                }
            }
            
        }

        .createHabitModal {
            padding: 30px;
        }

        fieldset.labelColourContainer {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        input[type=radio] {
            margin-right: 10px;
            margin-top: 5px;
        }

        .btnContainer {
            flex-direction: column;
            margin-top: 30px;

            .cancelBtn,
            button[type=submit] {
                margin: 10px 0 0 0;
            }
        }
    }
}

@media (max-width: 575px) {
    .habitPage {
        .habitTrackingContent {
            margin-left: 75px;
            padding: 25px 15px;
        }

        .habitCalendarBreakdown {
            th {
                font-size: 0.7rem;
            }
            
        }

        .taskCompletionTable {
            flex-direction: column;

            table {
                width: 100%;
                margin-top: 10px;

                tr {
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .habitPage {
        .habitListContainer {
            padding: 15px;
        }

        .habitCalendar {
            ul p {
                font-size: 0.6rem;
            }
        }

        .createHabitModal {
            padding: 30px 10px;
        }
    }
}