// Home Navigation

.homePage {
    display: flex;
    width: 100%;

    .homeNavigation {
        width: 25%;
        height: 100vh;
        border: 1px solid $border;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homeDashboard {
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .homeSection {
        padding: 50px 25px;
    }

    .profilePicCont {
        margin-bottom: 10px;

        img {
            border-radius: 50%;
        }
    }

    .navDisplayName {
        border-bottom: 1px solid $primary;
        padding: 0 40px 10px 40px;
    }

}


// Calendar

.react-calendar__month-view__days__day--neighboringMonth {
    color: gray;
}

.react-calendar__month-view__days__day--weekend {
    color: red;
}

.react-calendar__tile {
    background-color: white;
    border: 1px solid black;
}

.react-calendar__tile--now {
    background-color: rgb(207, 197, 197);
}
