// Home Navigation

.homePage {
    display: flex;
    width: 100%;

    .homeNavigation {
        position: relative;
        width: 20%;
        min-height: 100vh;
        max-height: 100%;
        border: 1px solid rgba(212, 212, 212, 0.8);
        border-radius: 0px 10px 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a,
        button {
            margin: 20px 0;
            display: flex;
            align-items: center;
        }

        button {
            border: 0;
        }

        i {
            margin-right: 10px;
        }
    }

    .homeDashboard {
        width: 77%;
        padding-right: 3%;
        display: flex;
        flex-direction: column;
    }

    .homeSection {
        padding: 50px 25px;
    }

    .profilePicCont {
        margin-bottom: 10px;

        img {
            border-radius: 50%;
        }
    }

    .navDisplayName {
        border-bottom: 1px solid $primary;
        padding: 0 40px 10px 40px;
    }
}

// Home Dashboard

.homeDashboard {

    h1 {
        margin-bottom: 10px;
    }

    .taskContainer {
        border: 1px solid rgb(212, 212, 212);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        height: 150px;
        border-radius: 5px;
        padding: 50px 25px;
        margin-bottom: 25px;
        display: flex;
        position: relative;

        button {
            border: 0;
        }

        .exitBtn {
            border: 0;
            position: absolute;
            top: 25px;
            right: 25px;

            i {
                font-size: 1.8rem;
            }
        }

        .finishBtn {
            margin-left: 15px;
            margin-right: 50px;

            i {
                font-size: 2.5rem;
                font-weight: 300;
            }
        }

    }

    .toDoTask,
    .doneTask {
        width: 50%;
        padding: 15px 0px;
    }

    .toDoTask {
        border-radius: 15px 0px 0px 15px;
    }

    .doneTask {
        border-radius: 0px 15px 15px 0px;
    }

    .taskButtonActive {
        color: white;
        background-color: black;
    }

    .taskFilters {
        margin: 30px 0 30px 0;
    }

    .filterContainer {
        border: 0;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        p {
            margin-left: 10px;
        }
    }
}

.overlayBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}