.loginNav {
    .logoSection {
        position: absolute;
        top: 25px;
        left: 25px;
        display: flex;
        align-items: center;

        .imageContainer {
            width: 50px;
            height: 50px;
            border: 1px solid rgba(212, 212, 212, 0.9);
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;

            img {
                height: auto;
                width: 100%;
                padding: 10px;
            }
        }

        p {
            margin-left: 15px;
            font-weight: bold;
        }
    }
}

.loginPage {
    display: flex;

    .loginSection {
        width: 60%;
        background-color: #A5D6A7;
        background-image: url("../assets/blobWhite.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50%;
        height: calc(100vh - 40px);
        padding: 200px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2.5rem !important;
            text-align: center;
        }
    }

    .loginFlex {
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;

            button[type="submit"] {
                background-color: white;
                padding: 15px;
                border-radius: 25px;
                border: 1px solid rgba(212, 212, 212, 0.9);
                box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
                width: 250px;
                margin-top: 25px;
            }

            input {
                margin: 10px 0;
            }
        }

        p {
            margin-bottom: 25px;
        }
    }

    .googleBtn {
        border: 1px solid black;
        padding: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        margin: 15px 0;

        i {
            font-size: 1.3rem;
        }
    }  

    .labelInputContainer {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            border-radius: 25px;
            border: 1px solid rgba(212, 212, 212, 0.9);
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            padding: 10px 5px 10px 55px;
            font-family: inherit;
        }

        i {
            position: absolute;
            left: 25px;
            color: rgba(212, 212, 212, 0.9);
            font-size: 1.1rem;
            top: 50%;
            transform:translateY(-50%)
        }
    }

    .toLoginSection {
        text-align: center;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 2rem;
        }

        p {
            margin: 25px 0;
        }

        .wrapper {
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .redirectToCreateBtn {
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        border-radius: 25px;
        width: 250px;
        padding: 15px 25px;
        background-color: white;
        font-weight: bold;
    }
}

.loginFooter {
    color: #878685;
    padding: 10px 0;
    border-top: 1px solid rgba(212, 212, 212, 0.9);

    ul {
        display: flex;
        justify-content: space-between;

        li {
            width: 50%;
        }

        p {
            font-size: 0.8rem;
        }

        a {
            display: inline-block;
        }

        .creditFooterLink {
            text-align: end;
        }
    }
}   

@media (max-width: 940px) {
    .loginPage {
        flex-direction: column;

        .loginSection {
            width: 100%;
        }

        .toLoginSection {
            width: 100%;
            padding: 80px 0;
        }
    }
}