@use '../partials/base';

nav.navigationBar {
    border-bottom: 1px solid rgba(212, 212, 212, 0.8);
    padding: 15px 0;

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        margin-right: 35px;
        font-size: 0.9rem;
        font-family: base.$bold-font-nunito;
    }

    .loginButton{
        border-right: 1px solid black;
        padding-right: 20px;
    }

    .rightNavigation li{
        margin-right: 0;
    }

    .createAccountLi {
        margin-left: 20px;
    }

    .mobileHamburgerBtn {
        display: none;
    }

    .hamburgerIcon {
        font-size: 1.5rem;
        color: black;
    }

    

}

// Slide Menu 

.slideMenu {
    position: fixed;
    z-index: 30;
    height: 100vh;
    width: 250px;
    top: 0;
    background-color: white;
    border-right: 1px solid rgba(212, 212, 212, 0.8);
    padding: 20px 25px 20px 25px;

    ul {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            @include base.containerShadow;
            @include base.defaultClickText(0.8rem);
            margin-bottom: 15px;
            margin-right: 0;
            border-radius: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 100%;
                padding: 10px 15px;
            }
        }

        li:nth-child(2) {
            background-color: #F6F4F9;
        }

        li:nth-child(3) {
            background-color: #F6F4F9;
        }

        li:nth-child(4) {
            background-color: #EDF2EC;
        }

        li:nth-child(5) {
            background-color: #E6F3FB;
        }

        li:nth-child(6) {
            background-color: #FBF1F4;
        }

        li:nth-child(7) {
            background-color: #FAF1F4;
        }

        .fa-chevron-right {
            font-size: 0.7rem;
        }

        .logo {
            border: 1px solid rgba(212, 212, 212, 0.9);
            width: 75px;
            height: 75px;
            border-radius: 50%;
            padding: 0;
            margin: 0 0 25px 0;

            img {
                height: auto;
                width: 80%;
            }

            div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .loginButton {
        border-right: 0;
    }


    .bottomNavContainer {
        margin-top: 20px;
        width: 100%;
    }

    .exitModalBtn {
        position: absolute;
        top: 15px;
        right: 25px;
        color: black;

        i {
            font-size: 1.2rem;
            color: black;
        }
    }
}

.leftNavigation,
.rightNavigation {
    display: flex;
    align-items: center;
}

.logoImageCont {
    max-width: 50px;
    max-height: 50px;
    margin-right: 0;

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
    justify-content: center;
}

.rightNavigation {
    display: flex;
}

@media(max-width: 940px) {
    nav.navigationBar {
        // Nav
        
        .desktopHiddenAnchor {
            display: none;
        }

        .mobileHamburgerBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            display: block;
        }

    }
}