.frontPage{

    nav {
        padding-top: 15px;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        margin-right: 45px;
    }

    .leftNavigation,
    .rightNavigation {
        display: flex;
        align-items: center;
    }

    .logoContainer {
        max-width: 75px;
        max-height: 75px;
        margin-right: 10px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .rightNavigation {
        display: flex;
    }
}