.createTaskForm {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(156, 156, 156, 0.5);
    border-radius: 5px;
    padding: 0 25px;
    background-color: #FFFEFC;
    z-index: 20;
    padding: 50px;

    button {
        border: 0;
    }

    fieldset {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        border: 0;
        margin: 0;
    }

    .formField {
        margin-top: 30px;
    }
    
    legend {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 0px 10px 10px;
        border-bottom: 4px solid #78A27A;

        h2 {
            font-size: 1.5rem;
            margin: 0 10px;
        }
    }

    input {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(156, 156, 156, 0.2);
    }

    .formSection {
        width: 100%;
        margin-left: 20px;
        margin-bottom: 5px;

        label,
        input {
            display: inline-block;
        }

        label {
            width: 30%;
        }

        input {
            width: 70%;
        }

        span {
            margin-right: 5px;
        }
    }

    .exitButton {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .submitBtn {
        background-color: transparent;
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 15px;
        color: $primary;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(156, 156, 156, 0.2);
    }
}