@use '../partials/base';

.createTaskForm {
    @include base.containerShadowThree;
    @include base.modal(30, 15px, #F1F5F9, 0);
    overflow-y:scroll;
    overflow-x:hidden;
    height: 90vh;
    width: 80vw;

    label {
        @include base.defaultClickText(0.9rem);
        margin-top: 15px;
    }

    .formPrimarySection {
        padding: 30px 80px 30px 80px;
        width: 100%;
    }

    button {
        border: 0;
    }

    fieldset {
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        border: 0;
        margin: 0;
    }

    i {
        font-size: 1.4rem;
    }
    
    legend {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 15px;

        h2 {
            @include base.defaultClickText(1.2rem);
            text-transform: capitalize;
            color: black;
            border-bottom: 3px solid #d4d4d4;
            padding-bottom: 10px;
            width: 100%;
        }
    }

    input {
        @include base.containerShadow;
        background-color: transparent;
        border-radius: 5px;
    }

    .formSection {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        input[type="time"],
        input[type="text"],
        input[type="date"] {
            width: 100%;
        }

        label,
        input {
            display: inline-block;
        }

        label {
            width: 30%;
            margin-bottom: 15px; 
            color:#6D767E;
        }

        input {
            padding: 0px 0px 0px 8px;
            background-color: #FFFFFF;
            margin-left: 30px;
            height: 35px;
        }

        span {
            margin-right: 5px;
        }
    }

    .exitButton {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .buttonSection {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        button {
            padding: 5px 0;
            border-radius: 10px;
            min-width: 125px;
            font-size: 1rem;
        }
        
        button,
        .cancelBtn {
            height: 35px;
        }
    }

    .submitBtn,
    .cancelBtn {
        @include base.defaultClickText(0.8rem);
    }

    .submitBtn {
        @include base.containerShadow;
        margin-left: 15px;
        background-color: #36CB82;
        color: white;
    }

    .cancelBtn {
        @include base.containerShadow;
        @include base.notSelectable;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        border-radius: 10px;
        height: 50px;
        min-width: 125px;
        font-size: 1rem;
        color: black;
    }

    .prioritySection {
        @include base.containerShadow;
        background-color: #FFFFFF;
        padding: 35px 30px;
        border-radius: 5px;
        margin-top: 35px;
        
        label {
            margin-right: 10px;
        }

        input {
            margin: 0;
        }
    }
    
    .paragraphLabel {
        @include base.defaultClickText(1rem);
        margin-right: 125px;
        width: 30%;
        color: #6D767E;
        display: flex;
        align-items: center;
    }

    .priorityContainer {
        display: flex;
        margin-right: 25px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        cursor: pointer;
        position: relative;

        label {
            width: 100px !important;
            cursor: pointer;
        }

        input {
            height: 20px;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%)
        }
    }
}

.formSecondarySection {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px 80px 20px 80px;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;

    .labelSection {
        display: flex;
        flex-direction: column;
    }
    
    .createLabelTextContainer {
        position: relative;

        .createNewLabelBtn {
            @include base.notSelectable;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            color: #6F6F6F;
            font-size: 1.3rem;
        }
    }

    .saveLabelsContainer {
        display: flex;
        align-items: center;
        margin-top: 25px;

        label {
            width: calc(100% - 30px);
            margin: 0 5px 0 0;
            padding-left: 5px;
            line-height: 20px;
        }

        input {
            padding: 0;
            cursor: pointer;
            height: 20px;
            width: 20px;
        }

        label {
            font-size: 0.7rem;
        }
    }

    .orSection {
        width: 100%;
        display: flex;
        justify-content: space-around;

        p {
            color:#6D767E;
            transform:translateY(35%);
        }
    }

    .orSectionBorder {
        width: 30%;
        border-bottom: 2px solid rgb(212, 212, 212);
        display: block;
    }

    input {
        width: 100%;
        padding: 0px 0px 0px 8px;
        background-color: #FFFFFF;
        border-radius: 5px;
        height: 35px;
    }

    label {
        color: #6D767E;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    select {
        @include base.containerShadow;
        width: 100%;
        background-color: transparent;
        border-radius: 5px;
        padding: 0px 0px 0px 8px;
        height: 35px;
        color: black;
    }

    .customTaskError {
        border: 1px solid red;
        border-radius: 5px;
    }
    
    .customTaskErrorMsg {
        padding-top: 10px;
    }

    .selectedTaskError {
        border: 1px solid red;
    }
}

.existingLabelSection {
    border-bottom: 3px solid #d4d4d4;
    padding-bottom: 15px;
}

.existingLabelButtons {
    display: flex;
    justify-content: space-between;

    .createNewLabelBtn {
        @include base.notSelectable;
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: #6F6F6F;
        font-size: 1.3rem;
    }
}

.existingTaskSelect {
    width: 90%;
}


.lowPriorityContainer {
    background-color: #A5D6A7;
}

.mediumPriorityContainer {
    background-color: #FEEFD0;
}

.highPriorityContainer {
    background-color: #FFCED6;
}

input[type="color"] {
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.colorSection {
    border-bottom: 3px solid #d4d4d4;
    padding-bottom: 25px;
}

.colorChoiceHelp {
    margin-top: 10px;
    display: flex;
    align-items: center;

    p {
        font-size: 0.8rem;
        color: #5fadd2;
        margin-left: 10px;
    }
}

.chosenLabelsSection p {
    @include base.defaultClickText(0.9rem);
    margin-top: 20px;
    color: #6D767E;
}

.appliedTaskLabel {
    @include base.containerShadow;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;

    i {
        font-size: 1rem;
        padding-left: 10px;
        color: #ff6781;
        cursor: pointer;
    }

    p {
        margin-top: 0;
        text-transform: capitalize;
    }
}

@media (max-width: 1090px) {

    .createTaskForm {
        width:60vw;

        .formSection.prioritySection {
            flex-wrap: wrap;
        }

        .priorityContainer {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .paragraphLabel {
            width: 100%;
            margin: 0 0 10px 0;
        }

        .lowPriorityContainer.priorityContainer,
        .mediumPriorityContainer.priorityContainer,
        .highPriorityContainer.priorityContainer {
            margin-right: 0;
            margin-bottom: 15px;
        }

        .formSection {
            flex-direction: column;

            label {
                width: 100%;
            }

            input {
                margin: 0;
            }
        }
    }
}
@media (max-width: 785px) {
    .createTaskForm {
        width: 80vw;

        .buttonSection {
            flex-direction: column;
            justify-content: center;
        }

        .submitBtn {
            margin: 15px 0 0 0;
        }

        .formSecondarySection,
        .formPrimarySection {
            padding: 20px 40px;
        }
    }
}

@media (max-width: 400px) {

    .createTaskForm {
        width: 90vw;
    }

    .formSecondarySection {
        height: 80vh;
    }
}