.createTaskForm {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 70%;
    min-height: 85%;
    height: 85%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #F1F5F9;
    z-index: 20;
    box-shadow: 0px 36px 89px rgba(0, 0, 0, 0.04), 0px 23.3333px 52.1227px rgba(0, 0, 0, 0.0303704), 0px 13.8667px 28.3481px rgba(0, 0, 0, 0.0242963), 0px 7.2px 14.4625px rgba(0, 0, 0, 0.02), 0px 2.93333px 7.25185px rgba(0, 0, 0, 0.0157037), 0px 0.666667px 3.50231px rgba(0, 0, 0, 0.00962963);

    .formPrimarySection {
        padding: 20px 80px 20px 80px;
        width: 70%;
    }

    button {
        border: 0;
    }

    fieldset {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0px;
        border: 0;
        margin: 0;
    }

    .formField {
        margin-top: 60px;
    }
    
    legend {
        display: flex;
        align-items: center;
        height: 80px;
        margin-top: 25px;

        h2 {
            font-size: 1.5rem;
            text-transform: capitalize;
            color: black;
            border-bottom: 3px solid #d4d4d4;
            padding-bottom: 10px;
            width: 100%;
            font-family: $tertiary-font;
        }
    }

    input {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    }

    .formSection {
        width: 100%;
        margin-bottom: 35px;
        display: flex;

        label,
        input {
            display: inline-block;
        }

        label {
            width: 30%;
            margin-bottom: 15px; 
            color:#6D767E;
        }

        input {
            width: 100%;
            padding: 0px 0px 0px 8px;
            background-color: #FFFFFF;
            margin-left: 30px;
        }

        span {
            margin-right: 5px;
        }
    }

    .exitButton {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .buttonSection {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            padding: 5px 0;
            border-radius: 10px;
            height: 50px;
            min-width: 125px;
            font-size: 1rem;
        }
    }

    .submitBtn {
        margin-left: 15px;
        background-color: #36CB82;
        color: white;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    }

    .cancelBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding: 5px 0;
        border-radius: 10px;
        height: 50px;
        min-width: 125px;
        font-size: 1rem;
        color: black;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .prioritySection {
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        background-color: #FFFFFF;
        padding: 35px 30px;
        border-radius: 5px;
        margin-top: 60px;
        
        label {
            margin: 0;
        }

        input {
            margin: 0;
        }
    }
    
    .paragraphLabel {
        margin-right: 125px;
        width: 30%;
        color: #6D767E;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
}

.formSecondarySection {
    min-height: 100%;
    width: 30%;
    background-color: #FFFFFF;
    padding: 45px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .labelSection {
        display: flex;
        flex-direction: column;
    }
    
    .createLabelTextContainer {
        position: relative;

        .createNewLabelBtn {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            color: #6F6F6F;
            font-size: 1.3rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .saveLabelsContainer {
        display: flex;
        align-items: center;
        margin-top: 25px;

        label {
            width: calc(100% - 30px);
            margin: 0 5px 0 0;
            padding-left: 5px;
            line-height: 20px;
        }

        input {
            padding: 0;
            cursor: pointer;
            height: 20px;
            width: 20px;
        }
    }

    .orSection {
        width: 100%;
        display: flex;
        justify-content: space-around;

        p {
            color:#6D767E;
            transform:translateY(35%);
        }
    }

    .orSectionBorder {
        width: 30%;
        border-bottom: 2px solid rgb(212, 212, 212);
        display: block;
    }

    input {
        width: 100%;
        padding: 0px 0px 0px 8px;
        background-color: #FFFFFF;
        border-radius: 5px;
        height: 40px;
    }

    label {
        color: #6D767E;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    select {
        background-color: transparent;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        border-radius: 5px;
        padding: 0px 0px 0px 8px;
        height: 40px;
    }

    .customTaskError {
        border: 1px solid red;
        border-radius: 5px;
    }

    .selectedTaskError {
        border: 1px solid red;
    }
}

.existingLabelSection {
    border-bottom: 3px solid #d4d4d4;
    padding-bottom: 35px;
}

.existingLabelButtons {
    display: flex;
    justify-content: space-between;

    .createNewLabelBtn {
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: #6F6F6F;
        font-size: 1.3rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.existingTaskSelect {
    width: 90%;
}

.priorityContainer {
    display: flex;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);

    label {
        width: 100px !important;
        margin-right: 20px !important;
    }

}

.lowPriorityContainer {
    background-color: #A5D6A7;
}

.mediumPriorityContainer {
    background-color: #FEEFD0;
}

.highPriorityContainer {
    background-color: #FFCED6;
}

input[type="color"] {
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.colorSection {
    border-bottom: 3px solid #d4d4d4;
    padding-bottom: 25px;
}

.colorChoiceHelp {
    margin-top: 25px;
    display: flex;
    align-items: center;

    p {
        font-size: 0.8rem;
        color: #5fadd2;
        margin-left: 10px;
    }
}

.chosenLabelsSection {
    margin-top: 20px;
}

.appliedTaskLabel {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(212, 212, 212, 0.9);
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
}