@use '../partials/base';

.signOutModal {
    @include base.containerShadow;
    @include base.modal(50, 5px, white, 45px 35px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-size: 1.1rem;
    }

    .fa-door-open {
        @include base.containerShadow;
        font-size: 3rem;
        margin-bottom: 25px;
        background-color: #A5D6A7;
        padding: 20px;
        border-radius: 50%;
    }

    .buttonList {
        display: flex;
        flex-direction: column;
    }

    button {
        @include base.containerShadow;
        @include base.button(inherit, 25px, 10px 20px, black);
        margin-top: 15px;
    }
}

.signoutOverlay {
    z-index: 40 !important;
}

@media (max-width: 550px) {
    .signOutModal {
        width: 80%;
    }
}