.taskDetails {
    margin-left: 100px;
    padding: 35px 0px 20px 0;
    display: flex;
    flex-direction: column;

    .userLocationBar {
        margin-top: 5px;

        span {
            margin: 0 10px;
        }
    }

    .taskBtnContainer p {
        font-size: 0.7rem !important;
    }

    .taskToolBar {
        height: 100%;
        margin-left: 20px;
        display: flex;
        order: 1;

        button {
            margin-left: 15px;
        }

        .toolBarBtn {
            background-color: transparent;
            padding: 0;
            font-size: 1rem;
            color: black;
        }
    }


    .taskHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(212, 212, 212, 0.9);
        padding: 0 30px 20px 30px;
    }

    .taskInformation {
        width: 40%;
        display: flex;
        align-items: center;

        i {
            margin-right: 15px;
            background-color: #EDF2EC;
            padding: 10px 15px;
            border-radius: 10px;
        }
    }

    .taskNameContainer {
        width: 100%;

        .label {
            padding-bottom: 3px;
            padding-left: 3px;
        }

        h1 {
            border: 2px solid transparent;
            padding: 2px;
            width: 75%;
        }

        input[type="text"] {
            font-weight: 700;
            font-family: "Inter", sans-serif;
            width: 75%;
        }
    }

    .plannedCompletionPara {
        padding: 2px; 
        border:2px solid transparent;
    }

    p.label {
        margin-bottom: 10px;
    }

    .taskDescription,
    .taskData,
    .updateTaskBtns,
    .updateTasksContainer,
    .taskLabelContainer{
        margin-top: 35px;
        padding: 0 30px;
    }

    .taskDescription textarea {
        width: 100%;
    }

    .taskData {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    input[type="date"] {
        padding: 2px;
    }

    input[type="date"],
    input[type="time"],
    .taskDetails select {
        font-size: 0.9rem;
        font-family: "Inter", sans-serif;
    }

    .label,
    .dueTimeParagraph,
    .taskCompletionPara,
    .priorityParagraph {
        padding: 2px;
        border: 2px solid transparent;
    }

    .dueTimeLabel,
    .completionLabel {
        margin: 0px 85px;
    }

    .labelContainer {
        display: flex;

        p {
            margin-right: 15px;
            border: 1px solid rgba(212, 212, 212, 0.9);
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        }
    }

    .updateTaskBtns {
        position: relative;

        i {
            font-size: 0.9rem;
            margin-right: 10px;
        }

        button {
            border: 1px solid rgba(212, 212, 212, 0.5);
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 15px;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        }

        .updatesBtn {
            background-color: #2873D3;
        }
        
    }

    .updateTasksContainer {
        border: 1px solid rgba(212, 212, 212, 0.9);
        padding: 15px;
        margin: 25px 30px 10px 30px;
        border-radius: 5px;
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    }

    .taskDetailsForm {
        margin: 10px 30px 0 30px;

        textarea {
            width: 100%;
            border: 1px solid rgba(212, 212, 212, 0.9);
            border-radius: 5px;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            resize: none;
            padding: 15px;
        }
    }

    .updateTaskBtnContainer {
        margin-top: 25px;
        display: flex;

        .btn,
        button {
            border: 1px solid rgba(212, 212, 212, 0.5);
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 15px;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        }
    }

    .updateHoursContainer {
        width: 80%;
        position: absolute;
        z-index: 10;
        top: 100%;
        background-color: white;
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
        border: 1px solid rgba(212, 212, 212, 0.5);
        padding: 20px;
        border-radius: 5px;
    }
    
    .logTimeForm {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    input[type=number] {
        width: 50px;
        -moz-appearance: textfield;
        margin-top: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .specificDayContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        text-align: center;
    }
    
    .todayContainerTitle {
        background-color: #E9E8E7;
        border-radius: 5px;
    }

    .logTimeOptionBtns {
        display: flex;
        font-size: 1rem;

        button {
            border-radius: 5px;
            box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
            border: 1px solid rgba(212, 212, 212, 0.5);
            padding: 4px 10px;
            margin-right: 20px;
        }

        button[type=submit] {
            background-color: #2873D3;
            color: white;
        }
    }
    
    .taskCommentContainer {
        margin: 10px 30px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 9px rgba(0, 0, 0, .047), 0 1.54074px 2.86667px rgba(0, 0, 0, .073), 0 .32593px .73333px rgba(0, 0, 0, .12);
        display: flex;
        align-items: center;
        position: relative;

        .buttonsContainer {
            position: absolute;
            top: 5px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            i {
                font-size: 1.2rem;
            }

            ul {
                border: 1px solid rgba(212, 212, 212, 0.9);

                li {
                    border-bottom: 1px solid rgba(212, 212, 212, 0.9);
                    padding: 0 5px;
                }
            }
        }
    }

    .profilePicContainer {
        width: 50px;
        height: 50px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .commentText {
        margin-left: 25px;

        .username {
            margin-bottom: 10px;
            font-weight: bold;
        }
    }

    .timePublished {
        margin-top: 15px;
    }

    .alterUpdateOption {
        display: none;
        
        button {
            font-size: 0.8rem;
        }
    }

    .pageOverlay {
        position: fixed;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255, 0.5);

        .lds-ring {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .editContainer {
        width: 60%;
        display: flex;
        align-items: center;
    }

    p.enableIndicator {
        font-size: 0.7rem;
        margin-left: 25px;
        color: #2873D3;
        border: 1px solid #2873D3;
        padding: 2px;
        border-radius: 5px;
    }

    .toolBarCombo {
        position: relative;
    }

    .toolBarExtension {
        position: absolute;
        font-size: 0.6rem;
        background-color: black;
        border-radius: 50%;
        bottom: 0px;
        right: -5px;
        color: white;
        width: 12px;
        height: 12px;
    }

    .taskBtnContainer {
        display: flex;
        align-items: center;
        border: 1px solid rgba(212, 212, 212, 0.9);
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        padding: 5px 8px;
        border-radius: 5px;
        height: 45px;

        p {
            font-weight: bold;
            margin-left: 10px;
        }
    }

    .savingMessageContainer {
        display: flex;
        margin-left: 30px;

        .lds-ring {
            height: 20px;
            width: 20px;

            div {
                height: 20px;
                width: 20px;
                border: 3px solid #A5D6A7;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #A5D6A7 transparent transparent transparent;
            }
        }
    }

    .percentError,
    .savingStatusMessage{
        font-size: 0.7rem;
        top: 5px;
        padding-top: 10px;
    }

    .percentError {
        color: rgb(224, 0, 0);
        margin-left: 30px;
    }

    .savingStatusMessage {
        color: rgb(1, 94, 1);
        margin-left: 20px;
    }

    .deleteModal {
        position: fixed;
        z-index: 30;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        border-radius: 10px;

        h2 {
            text-transform: capitalize;
            margin: 30px 0 20px 0;
        }

        p {
            text-align: center;
            margin-bottom: 35px;
        }

        .errorIcon {
            position: relative;
        }

        .fa-circle-exclamation {
            color: #FE3E56;
            position: relative;
            z-index: 40;
            background-color: white;
            border-radius: 50px;
        }

        .errorBackground {
            background-color: #FEA7B0;
            height: 56px;
            width: 56px;
            position: absolute;
            top: -8px;
            left: -8px;
            border-radius: 10px;
        }

        .noBtn {
            background-color: #d8d6d6;
        }

        .yesBtn {
            background-color: #FF3F56;
            color: white;
            margin-left: 20px;
        }

        button {
            font-weight: bold;
            padding: 10px 15px;
            border-radius: 30px;
        }
    }

    .overlayModal {
        position: fixed;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .logTimeBtnTwo {
        background-color: #2873D3;
        color: white;
    }

    .totalHours {
        font-size: 0.7rem;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-top: 5px;
        border-top: 1px solid rgba(212, 212, 212, 0.9);
    }

    .logTimeFlexContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moreDaysBtn {
        height: 50%;
        margin-top: 10px;

        i {
            margin: 0;
        }
    }

    .descriptionParagraph {
        overflow-wrap: break-word;
        padding: 2px; 
        border: 2px solid transparent;
    }

    textarea {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
    }
    
    select,
    textarea,
    input[type="text"],
    input[type="time"],
    input[type="date"] {
        background-color: white;
        border: 1px solid rgba(212, 212, 212, 0.9);
        border-radius: 5px;
    }

    .hiddenUpdate {
        display: none;
    }

    .rangeDiv {
        width: 52%;
    }

    input[type="range"] {
        width: 100%;
    }

    .taskDetails button.taskBtnContainer p {
        font-size: 0.8rem;
    }
}

@media(max-width: 1090px) {
    .taskDetails {

        .dueTimeLabel {
            margin: 0 0 0 50px;
        }

        .taskToolBar {
            flex-direction: column;
        }

        button.taskBtnContainer {
            margin-left: 0px;

            p {
                font-size: 0.7rem;
            }
        }

        .taskBtnContainerOne {
            margin-bottom: 10px;
        }

        .rangeDiv {
            width: 70%;

            input[type="range"] {
                width: 100%;
            }
        }

        .taskInfoContainer {
            width: calc(50% - 25px);
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 1115px) {
    .taskDetails {

        .logTimeForm {
            flex-wrap: wrap;
        }

        .specificDayContainer {
            width: 30%;
            margin-bottom: 15px;
        }
    }
}

@media(max-width: 768px) {
    .taskDetails {

        .totalHours {
            margin-bottom: 10px;
        }
        
        .taskHeader {
            flex-direction: column;
        }

        .taskInformation,
        .editContainer {
            width: 100%;
        }

        .taskInformation {
            margin-bottom: 15px;
        }

        button.taskBtnContainer {
            margin-bottom: 0;
        }

        .rangeDiv {
            width: 50%;
        }

        .taskToolBar {
            flex-direction: row;
            align-items: center;
        }

        .taskBtnContainer {
            margin-right: 10px;
        }

        .updateTaskBtns {
            width: 100%;
            
            button {
                width: calc(50% - (15px / 2));
            }

            .logTimeBtn {
                margin-right: 0;
            }
        }
        
        .logTimeOptionBtns {
            flex-wrap: wrap;

            .logTimeBtnTwo {
                margin-right: 10px;
            }

            .resetBtn {
                margin-right: 0;
                margin-bottom: 10px;
            }

            button {
                font-size: 0.8rem;
                width: calc(50% - 5px);
            }

            .logTimeBtnTwo {
                margin-bottom: 10px;
            }
        }
    }
}

@media(max-width: 575px) {
    .homePage .dashboardContent,
    .taskDetails{
        margin-left: 75px;
    }

    .taskDetails .profilePicContainer {
        width: 14%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .taskDetails {
        .updateTaskBtns {
            display: flex;
            flex-direction: column;

            .updatesBtn,
            .logTimeBtn {
                width: 100%;
            }

            .updatesBtn {
                margin-bottom: 10px;
            }
        }

        .editContainer {
            flex-direction: column;
        }

        .taskToolBar {
            width: 100%;
            margin-left: 0;
        }

        .taskBtnContainer {
            width: 50%;
            margin-right: 0;
        }
        
        .taskBtnContainerOne {
            margin-right: 10px;
        }

        .rangeDiv {
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    .taskDetails .profilePicContainer {
        width: 20%;
    }
}

@media (max-width: 385px) {
    .taskDetails {

        .logTimeForm {
            justify-content: center;
        }
        
        button.cancelBtn {
            width: 100%;
            margin-right: 0;
        }
    }
}