// Overall Typography

html {
    font-size: 125%;
}

body {
    font-family: $base-font;
}

.topNavigation {
    font-family: $secondary-font;
}

button {
    font-family: $secondary-font !important;
    font-weight: 700;
}

i {
    font-size: 2rem;
}

h1 {
    font-size: 1.5rem !important;
}

p {
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

// Front Page Typography

.topNavigation li {
    font-size: 0.9rem;
    font-weight: 700;
}

.heroBtn {
    font-family: $secondary-font;
    color: $quaternary;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.0471111), 0px 1.54074px 2.86667px rgba(0, 0, 0, 0.0728889), 0px 0.325926px 0.733333px rgba(0, 0, 0, 0.12);
    font-weight: 700;
    text-align: center;
}

.heroContainer h1 {
    font-size: 2.5rem !important;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 65px;
}

// Home Page Typography
.homeNavigation {
    font-size: 1.1rem;
}

.homeNavigation i {
    font-size: 1rem;
}

.homeDashboard h1 {
    font-size: 1.3rem !important;
}

.dashboardGreeting {
    font-size: 0.9rem;
}

.dashboardDayGreeting {
    font-size: 0.9rem;
}

.navDisplayName {
    font-weight: bold;
    word-break: break-all;
}

.homePage {
    font-family: $tertiary-font;

    .taskDeadlineDateContainer {

        p {
            font-family: $base-font;
            font-weight: 600;
            font-size: 0.9rem;
        }

        i {
            font-size: 1.2rem;
        }
    }
}

.userLocationBar {

    p {
        font-size: 0.9rem;
        font-weight: 600;
        font-family: $base-font;
    }

    i {
        font-size: 1rem;
    }
}

.taskName {
    font-weight: bold;
    font-size: 0.9rem !important;
    margin-bottom: 10px;
}

.taskDescription {
    font-size: 0.8rem !important;
}

.dueDateContainer p {
    font-size: 0.6rem;
    text-align: right;
}

.homeSection button {
    font-family: $tertiary-font !important;
    font-weight: bold;
}

.toDoTask,
.doneTask {
    font-size: 0.8rem;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
}

.filterContainer p {
    font-size: 0.8rem;
}

.labelContainer p {
    font-family: $tertiary-font;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 400;
}

.filterContainer {
    font-size: 0.9rem;
}

.searchBarInput {
    font-size: 0.8rem;
}

.noTaskFoundContainer {
    font-family: $base-font;
}

// New Task Component

.createTaskForm legend {
    font-size: 1rem;
    font-family: $base-font;
    font-weight: 700;
}

.createTaskForm button {
    font-family: $tertiary-font !important;
}

.createTaskForm i {
    font-size: 1.4rem;
}

.createTaskForm label {
    font-size: 0.9rem;
    margin-top: 15px;
    font-weight: bold;
}

.saveLabelsContainer label{
    font-size: 0.7rem;
}

.chosenLabelsSection p {
    color: #6D767E;
    font-weight: 600;
    font-size: 0.9rem;
}

.submitBtn {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.customTaskErrorMsg {
    font-size: 0.8rem;
    color: red;
    padding: 5px;
}

.appliedTaskLabel {
    text-transform: capitalize;
}

// To Do List typography (customizable tab component)

.toDoListSection h2 {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    text-transform: capitalize;
}