// Fonts
$base-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Nunito Sans', sans-serif;
$tertiary-font: 'Inter', sans-serif;

// Colors
$primary:#111111;
$secondary:#666665;
$tertiary:#F0BBB7;
$quaternary: #FFFFFF;
$border: #808080;