// Fonts
$base-font: 'DM Sans', sans-serif;
$secondary-font: 'DM Serif Display', serif;
$tertiary-font: 'Inter', sans-serif;

// Colors
$primary:#111111;
$secondary:#666665;
$tertiary:#FF5678;
$quaternary: #FFFFFF;
$border: #808080;