@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Inter:wght@400;600&display=swap");
html {
  font-size: 125%; }

body {
  font-family: "DM Sans", sans-serif; }

.topNavigation {
  font-family: "DM Serif Display", serif; }

button {
  font-family: "DM Serif Display", serif !important; }

.companyName {
  font-size: 0.7rem; }

.topNavigation li {
  font-size: 1rem; }

.heroBtn {
  font-family: "DM Serif Display", serif;
  color: #FFFFFF; }

.homeNavigation {
  font-size: 1.5rem; }

.homeNavigation i {
  font-size: 1.3rem; }

.navDisplayName {
  font-weight: bold;
  word-break: break-all; }

.homePage {
  font-family: "Inter", sans-serif; }

.taskName {
  font-weight: bold; }

.homeSection button {
  font-family: "Inter", sans-serif !important;
  font-weight: bold; }

.toDoTask,
.doneTask {
  font-size: 1.3rem; }

.filterContainer {
  font-size: 1.3rem; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%; }

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  padding: 0; }

.frontPage nav {
  padding-top: 15px; }
  .frontPage nav ul {
    display: flex;
    justify-content: space-between; }
  .frontPage nav li {
    margin-right: 20px; }
  .frontPage nav .loginButton {
    border-right: 1px solid black;
    padding-right: 10px; }

.frontPage .leftNavigation,
.frontPage .rightNavigation {
  display: flex;
  align-items: center; }

.frontPage .logoImageCont {
  max-width: 50px;
  max-height: 50px;
  margin-right: 0; }
  .frontPage .logoImageCont img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

.frontPage .logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
  justify-content: center; }

.frontPage .rightNavigation {
  display: flex; }

.frontPage header {
  display: flex;
  margin: 100px 0; }

.frontPage .heroContainer {
  max-width: 50%; }

.frontPage .heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .frontPage .heroInfo p {
    margin: 25px 0 20px 0; }

.frontPage .heroBtn {
  background-color: #FF5678;
  border: 0;
  width: 150px;
  padding: 7px 10px;
  border-radius: 8px;
  border: 1px solid #111111; }

.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px; }

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25); }

.login-with-google-btn:active {
  background-color: #eeeeee; }

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc; }

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed; }

.errorInput {
  border: 1px solid red; }

.errorEmailMessage {
  border: 1px solid red;
  color: red; }

.homePage {
  display: flex;
  width: 100%; }
  .homePage .homeNavigation {
    position: relative;
    width: 25%;
    min-height: 100vh;
    max-height: 100%;
    border: 1px solid #808080;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homePage .homeNavigation a,
    .homePage .homeNavigation button {
      margin: 20px 0;
      display: flex;
      align-items: center; }
    .homePage .homeNavigation button {
      border: 0; }
  .homePage .homeDashboard {
    width: 75%;
    display: flex;
    flex-direction: column; }
  .homePage .homeSection {
    padding: 50px 25px; }
  .homePage .profilePicCont {
    margin-bottom: 10px; }
    .homePage .profilePicCont img {
      border-radius: 50%; }
  .homePage .navDisplayName {
    border-bottom: 1px solid #111111;
    padding: 0 40px 10px 40px; }

.homeDashboard h1 {
  margin-bottom: 10px; }

.homeDashboard .taskContainer {
  border: 1px solid #d4d4d4;
  height: 150px;
  border-radius: 5px;
  padding: 25px 25px;
  margin-bottom: 25px;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.homeDashboard .toDoTask,
.homeDashboard .doneTask {
  width: 50%;
  padding: 15px 0px; }

.homeDashboard .toDoTask {
  border-radius: 15px 0px 0px 15px; }

.homeDashboard .doneTask {
  border-radius: 0px 15px 15px 0px; }

.homeDashboard .taskButtonActive {
  color: white;
  background-color: black; }

.homeDashboard .taskFilters {
  margin: 30px 0 30px 0; }

.homeDashboard .filterContainer {
  border: 0;
  display: flex;
  margin-bottom: 15px; }
  .homeDashboard .filterContainer p {
    margin-left: 10px; }

.react-calendar__month-view__days__day--neighboringMonth {
  color: gray; }

.react-calendar__month-view__days__day--weekend {
  color: red; }

.react-calendar__tile {
  background-color: white;
  border: 1px solid black; }

.react-calendar__tile--now {
  background-color: #cfc5c5; }
