@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito+Sans:wght@400;700;900&display=swap");
html {
  font-size: 125%; }

body {
  font-family: "Nunito Sans", sans-serif; }

.topNavigation {
  font-family: "Nunito Sans", sans-serif; }

button {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 700; }

i {
  font-size: 2rem; }

h1 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.1rem; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

.topNavigation li {
  font-size: 0.9rem;
  font-weight: 700; }

.heroBtn {
  font-family: "Nunito Sans", sans-serif;
  color: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.0471111), 0px 1.54074px 2.86667px rgba(0, 0, 0, 0.0728889), 0px 0.32593px 0.73333px rgba(0, 0, 0, 0.12); }

.heroContainer h1 {
  font-size: 2.5rem !important;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 65px; }

.homeNavigation {
  font-size: 1.1rem; }

.homeNavigation i {
  font-size: 1rem; }

.homeDashboard h1 {
  font-size: 1.7rem !important; }

.dashboardGreeting {
  font-size: 0.9rem; }

.dashboardDayGreeting {
  font-size: 1.1rem; }

.navDisplayName {
  font-weight: bold;
  word-break: break-all; }

.homePage {
  font-family: "Inter", sans-serif; }

.taskName {
  font-weight: bold;
  font-size: 1rem !important;
  margin-bottom: 10px; }

.taskDescription {
  font-size: 0.8rem !important; }

.homeSection button {
  font-family: "Inter", sans-serif !important;
  font-weight: bold; }

.toDoTask,
.doneTask {
  font-size: 1rem;
  border: 1px solid rgba(212, 212, 212, 0.9);
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }

.filterContainer {
  font-size: 0.9rem; }

.createTaskForm legend {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700; }

.createTaskForm button {
  font-family: "Inter", sans-serif !important; }

.createTaskForm i {
  font-size: 1.4rem; }

.createTaskForm label {
  font-size: 0.9rem;
  margin-top: 15px;
  font-weight: bold; }

.submitBtn {
  color: white;
  font-weight: bold;
  font-size: 0.8rem; }

.toDoListSection h2 {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  text-transform: capitalize; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto; }

body {
  background-color: #FFFEFC; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%; }

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0; }

.frontPage nav {
  border-bottom: 1px solid rgba(212, 212, 212, 0.8);
  padding: 15px 0; }
  .frontPage nav ul {
    display: flex;
    justify-content: space-between; }
  .frontPage nav li {
    margin-right: 20px; }
  .frontPage nav .loginButton {
    border-right: 1px solid black;
    padding-right: 10px; }

.frontPage .leftNavigation,
.frontPage .rightNavigation {
  display: flex;
  align-items: center; }

.frontPage .logoImageCont {
  max-width: 50px;
  max-height: 50px;
  margin-right: 0; }
  .frontPage .logoImageCont img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

.frontPage .logoContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
  justify-content: center; }

.frontPage .rightNavigation {
  display: flex; }

.frontPage .flexHeader {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 100px 0; }

.frontPage .heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 42%; }
  .frontPage .heroInfo p {
    margin: 30px 0; }

.frontPage .heroImageContainer {
  max-width: 50%; }

.frontPage .heroBtn {
  background-color: #A5D6A7;
  border: 0;
  max-width: 40%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(212, 212, 212, 0.8); }

.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px; }

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25); }

.login-with-google-btn:active {
  background-color: #eeeeee; }

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc; }

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed; }

.errorInput {
  border: 1px solid red; }

.errorEmailMessage {
  border: 1px solid red;
  color: red; }

.homePage {
  display: flex;
  width: 100%; }
  .homePage .homeNavigation {
    padding: 50px 25px;
    position: relative;
    width: 20%;
    min-height: 100vh;
    max-height: 100%;
    border-top: 1px solid rgba(212, 212, 212, 0.9);
    border-left: 1px solid rgba(212, 212, 212, 0.9);
    border-right: 1px solid rgba(212, 212, 212, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homePage .homeNavigation a,
    .homePage .homeNavigation button {
      margin: 20px 0;
      display: flex;
      border: 1px solid rgba(212, 212, 212, 0.9);
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 0.8rem; }
    .homePage .homeNavigation button {
      align-items: center; }
    .homePage .homeNavigation span {
      margin-right: 15px; }
    .homePage .homeNavigation ul {
      width: 100%; }
      .homePage .homeNavigation ul button {
        width: 100%; }
  .homePage .homeDashboard {
    width: 60%;
    display: flex;
    flex-direction: column; }
  .homePage .dashboardWallpaper {
    height: 175px;
    width: 100%; }
    .homePage .dashboardWallpaper img {
      display: block;
      max-height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 0 70%; }
  .homePage .dashboardContent {
    padding: 25px 50px; }
  .homePage .dashboardText {
    border-bottom: 4px solid #78A27A; }
  .homePage .dashboardStatus {
    margin-bottom: 15px; }
  .homePage .profilePicCont {
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    border: 1px solid rgba(212, 212, 212, 0.8);
    border-radius: 50%; }
    .homePage .profilePicCont img {
      border-radius: 50%; }
  .homePage .navDisplayName {
    border-bottom: 2px solid #78A27A;
    padding: 0 40px 10px 40px;
    margin-bottom: 10px; }

.homeBtn {
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }

.homeBtnOne {
  background-color: #F6F4F9; }

.homeBtnTwo {
  background-color: #F6F4F9; }

.homeBtnThree {
  background-color: #EDF2EC; }

.homeBtnFour {
  background-color: #E6F3FB; }

.homeBtnFive {
  background-color: #FBF1F4; }

.homeBtnSix {
  background-color: #FAF1F4; }

.homeDashboard h1 {
  margin-bottom: 15px; }

.homeDashboard .dashboardGreeting {
  margin-left: 15px;
  margin-bottom: 5px; }

.homeDashboard .taskContainer {
  border: 1px solid #d4d4d4;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  height: 120px;
  border-radius: 5px;
  padding: 25px 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  position: relative; }
  .homeDashboard .taskContainer button {
    border: 0; }
  .homeDashboard .taskContainer .exitBtn {
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px; }
    .homeDashboard .taskContainer .exitBtn i {
      font-size: 1.4rem; }
  .homeDashboard .taskContainer input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #111111;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 25px 0 0;
    cursor: pointer;
    background-color: #ffffff; }
  .homeDashboard .taskContainer input[type=checkbox]:checked::before {
    content: '✔';
    margin-top: 10px;
    margin-left: 1px;
    color: #111111;
    display: block;
    font-size: 30px;
    line-height: 12px; }

.homeDashboard .fa-sort,
.homeDashboard .fa-magnifying-glass {
  font-size: 1.3rem; }

.homeDashboard .fa-magnifying-glass {
  margin-right: 10px; }

.homeDashboard .taskFinderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px; }

.homeDashboard .searchContainer {
  display: flex;
  align-items: center; }

.homeDashboard .searchBarInput {
  height: 40px;
  border: 0;
  padding: 7px 25px;
  border-radius: 10px;
  border: 1px solid rgba(212, 212, 212, 0.8);
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }

.homeDashboard .toDoTask,
.homeDashboard .doneTask {
  width: 50%;
  padding: 5px 0px; }

.homeDashboard .toDoTask {
  border-radius: 15px 0px 0px 15px; }

.homeDashboard .doneTask {
  border-radius: 0px 15px 15px 0px; }

.homeDashboard .taskText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.homeDashboard .taskButtonActive {
  color: white;
  background-color: black; }

.homeDashboard .taskFilters {
  margin: 30px 0 30px 0; }

.homeDashboard .filterContainer {
  border: 1px solid rgba(212, 212, 212, 0.9);
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  padding: 7px 25px;
  border-radius: 15px;
  display: flex;
  align-items: center; }
  .homeDashboard .filterContainer p {
    margin-left: 10px; }

.overlayBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10; }

.customizableTabSection {
  display: block;
  width: 20%;
  min-height: 100vh;
  max-height: 100%;
  padding: 50px 25px;
  border-top: 1px solid rgba(212, 212, 212, 0.9);
  border-left: 1px solid rgba(212, 212, 212, 0.9);
  border-right: 1px solid rgba(212, 212, 212, 0.9); }

.createTaskForm {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(212, 212, 212, 0.9);
  box-shadow: 2px 4px rgba(156, 156, 156, 0.5);
  border-radius: 5px;
  padding: 0 25px;
  background-color: #FFFEFC;
  z-index: 20;
  padding: 50px; }
  .createTaskForm button {
    border: 0; }
  .createTaskForm fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 0;
    margin: 0; }
  .createTaskForm .formField {
    margin-top: 30px; }
  .createTaskForm legend {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 10px;
    border-bottom: 4px solid #78A27A; }
    .createTaskForm legend h2 {
      font-size: 1.5rem;
      margin: 0 10px; }
  .createTaskForm input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(156, 156, 156, 0.2); }
  .createTaskForm .formSection {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 5px; }
    .createTaskForm .formSection label,
    .createTaskForm .formSection input {
      display: inline-block; }
    .createTaskForm .formSection label {
      width: 30%; }
    .createTaskForm .formSection input {
      width: 70%; }
    .createTaskForm .formSection span {
      margin-right: 5px; }
  .createTaskForm .exitButton {
    position: absolute;
    top: 15px;
    right: 20px; }
  .createTaskForm .submitBtn {
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    color: #111111;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(156, 156, 156, 0.2); }

.react-calendar {
  border-radius: 10px; }

.react-calendar__tile {
  background-color: white;
  border: 0;
  font-size: 1rem; }

.react-calendar__tile--now {
  background-color: #A8DAAC; }
  .react-calendar__tile--now abbr {
    color: white; }

.react-calendar__navigation {
  display: flex;
  align-items: center;
  background-color: #A5D6A7;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  border: 1px solid #d4d4d4; }
  .react-calendar__navigation span {
    color: white; }

.react-calendar__viewContainer {
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  border: 1px solid #d4d4d4;
  padding: 10px 3px; }

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  border: 0;
  color: white; }

.react-calendar__navigation__arrow {
  font-size: 1.5rem; }

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none; }

.react-calendar__month-view__days__day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0; }

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }

abbr {
  color: #C8CCC4;
  font-size: 0.6rem; }

.toDoListSection {
  margin-top: 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  border: 1px solid #d4d4d4;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .toDoListSection .toDoListTitleContainer {
    background-color: #B3E5FC;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    padding: 10px 0px;
    width: 100%;
    position: relative; }
    .toDoListSection .toDoListTitleContainer button {
      border: 0;
      position: absolute;
      top: 5px;
      right: 10px; }
    .toDoListSection .toDoListTitleContainer i {
      font-size: 1rem;
      color: white;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border: 1px solid #d4d4d4;
      border-radius: 50%;
      padding: 1px;
      background-color: #8dc4de; }
  .toDoListSection .toDoListTasks {
    height: 100%;
    padding: 10px 10px; }
    .toDoListSection .toDoListTasks li {
      font-family: inherit;
      text-transform: capitalize;
      margin: 5px 0;
      font-weight: 700;
      color: gray;
      font-size: 0.8rem;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      padding: 8px 5px; }
    .toDoListSection .toDoListTasks .toDoTask {
      position: relative;
      box-shadow: 0;
      border: 0; }
    .toDoListSection .toDoListTasks button {
      position: absolute;
      top: 0px;
      right: 7px; }
    .toDoListSection .toDoListTasks i {
      font-size: 0.9rem;
      color: #e61b1b; }
  .toDoListSection .toDoInputContainer {
    border-radius: 5px;
    display: flex;
    margin: 0px 10px 10px 10px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
    .toDoListSection .toDoInputContainer input {
      width: 100%;
      border-radius: 5px 0px 0px 5px;
      border: 0;
      padding: 0;
      height: 30px;
      padding-left: 10px;
      border: 1px solid #d4d4d4; }
    .toDoListSection .toDoInputContainer button {
      border: 0;
      border-radius: 0px 5px 5px 0px;
      background-color: #8dc4de;
      color: white;
      padding: 0px 5px; }
