@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito+Sans:wght@400;700;900&display=swap");
html {
  font-size: 125%; }

body {
  font-family: "Nunito Sans", sans-serif; }

.topNavigation {
  font-family: "Nunito Sans", sans-serif; }

button {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 700; }

i {
  font-size: 2rem; }

h1 {
  font-size: 1.5rem !important; }

p {
  font-size: 1.1rem; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

.topNavigation li {
  font-size: 0.9rem;
  font-weight: 700; }

.heroBtn {
  font-family: "Nunito Sans", sans-serif;
  color: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.0471111), 0px 1.54074px 2.86667px rgba(0, 0, 0, 0.0728889), 0px 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
  font-weight: 700;
  text-align: center; }

.heroContainer h1 {
  font-size: 2.5rem !important;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 65px; }

.arrowDisabled {
  color: #6d767ec1; }

.homeNavigation {
  font-size: 1.1rem; }

.homeNavigation i {
  font-size: 1rem; }

.homeDashboard h1 {
  font-size: 1.3rem !important; }

.dashboardGreeting {
  font-size: 0.9rem; }

.dashboardDayGreeting {
  font-size: 0.9rem; }

.navDisplayName {
  font-weight: bold;
  word-break: break-all; }

.homePage {
  font-family: "Inter", sans-serif; }
  .homePage .taskDeadlineDateContainer p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 0.9rem; }
  .homePage .taskDeadlineDateContainer i {
    font-size: 1.2rem; }

.userLocationBar p {
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif; }

.userLocationBar i {
  font-size: 1rem; }

.taskName {
  font-weight: bold;
  font-size: 0.9rem !important;
  margin-bottom: 10px; }

.taskDescription {
  font-size: 0.8rem !important; }

.dueDateContainer p {
  font-size: 0.6rem;
  text-align: right; }

.homeSection button {
  font-family: "Inter", sans-serif !important;
  font-weight: bold; }

.toDoTask,
.doneTask {
  font-size: 0.8rem;
  border: 1px solid rgba(212, 212, 212, 0.9);
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }

.filterContainer p {
  font-size: 0.8rem; }

.labelContainer p {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 400; }

.filterContainer {
  font-size: 0.9rem; }

.searchBarInput {
  font-size: 0.8rem; }

.noTaskFoundContainer {
  font-family: "Nunito Sans", sans-serif; }

.createTaskForm legend {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700; }

.createTaskForm button {
  font-family: "Inter", sans-serif !important; }

.createTaskForm i {
  font-size: 1.4rem; }

.createTaskForm label {
  font-size: 0.9rem;
  margin-top: 15px;
  font-weight: bold; }

.saveLabelsContainer label {
  font-size: 0.7rem; }

.chosenLabelsSection p {
  color: #6D767E;
  font-weight: 600;
  font-size: 0.9rem; }

.submitBtn {
  color: white;
  font-weight: bold;
  font-size: 0.8rem; }

.customTaskErrorMsg {
  font-size: 0.8rem;
  color: red;
  padding: 5px; }

.appliedTaskLabel {
  text-transform: capitalize; }

.toDoListSection {
  font-family: "Inter", sans-serif;
  font-family: 300; }

.toDoListSection h2 {
  color: black;
  font-size: 0.8rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600; }

.taskDetails h1 {
  font-size: 1rem !important; }

.taskDetails p {
  font-size: 0.9rem; }

.taskDetails .taskInformation i {
  font-size: 1.5rem; }

.taskDetails button {
  font-weight: 300; }

.taskDetails .updatesBtn {
  color: white; }

.taskDetails .logTimeBtn {
  color: #2374FF; }

.taskDetails p.label {
  font-size: 0.8rem;
  font-weight: 600; }

.taskDetails .priorityLevel {
  text-transform: capitalize; }

.taskDetails .updateTasksContainer {
  text-align: left; }

.taskDetails .updateTaskBtnContainer button {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif !important; }

.taskDetails .updateHoursContainer h2 {
  font-size: 1.2rem; }

.taskDetails .specificDayContainer p {
  font-size: 0.7rem; }

.taskDetails .timePublished {
  font-size: 0.7rem; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto; }

body {
  background-color: #FFFEFC; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%; }

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0; }

fieldset {
  border: 0; }

.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #A5D6A7;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #A5D6A7 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.frontPage nav {
  border-bottom: 1px solid rgba(212, 212, 212, 0.8);
  padding: 15px 0; }
  .frontPage nav ul {
    display: flex;
    justify-content: space-between; }
  .frontPage nav li {
    margin-right: 20px; }
  .frontPage nav .loginButton {
    border-right: 1px solid black;
    padding-right: 10px; }

.frontPage .leftNavigation,
.frontPage .rightNavigation {
  display: flex;
  align-items: center; }

.frontPage .logoImageCont {
  max-width: 50px;
  max-height: 50px;
  margin-right: 0; }
  .frontPage .logoImageCont img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

.frontPage .logoContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 25px;
  justify-content: center; }

.frontPage .rightNavigation {
  display: flex; }

.frontPage .flexHeader {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 100px 0; }

.frontPage .heroInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 42%; }
  .frontPage .heroInfo p {
    margin: 30px 0; }

.frontPage .heroImageContainer {
  max-width: 50%; }

.frontPage .heroBtn {
  background-color: #A5D6A7;
  border: 0;
  max-width: 40%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(212, 212, 212, 0.8); }

.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px; }

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25); }

.login-with-google-btn:active {
  background-color: #eeeeee; }

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc; }

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed; }

.errorInput {
  border: 1px solid red; }

.errorEmailMessage {
  border: 1px solid red;
  color: red; }

.homePage {
  display: flex;
  width: 100%; }
  .homePage .homeNavigation.minimizedNav {
    width: 100px;
    position: relative; }
  .homePage .homeNavigation {
    padding: 20px 25px 50px 25px;
    background-color: white;
    position: fixed;
    z-index: 20;
    width: 250px;
    min-height: 100vh;
    max-height: 100%;
    border-top: 1px solid rgba(212, 212, 212, 0.9);
    border-left: 1px solid rgba(212, 212, 212, 0.9);
    border-right: 1px solid rgba(212, 212, 212, 0.9);
    display: flex;
    flex-direction: column; }
    .homePage .homeNavigation a,
    .homePage .homeNavigation button {
      margin: 15px 0;
      display: flex;
      border: 1px solid rgba(212, 212, 212, 0.9);
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 0.7rem; }
    .homePage .homeNavigation button {
      align-items: center; }
    .homePage .homeNavigation ul.minimizedUl {
      width: 50px; }
    .homePage .homeNavigation ul {
      width: 100%; }
      .homePage .homeNavigation ul button {
        width: 100%; }
    .homePage .homeNavigation .expandedButtonText {
      margin-left: 10px; }
    .homePage .homeNavigation li {
      position: relative; }
      .homePage .homeNavigation li i {
        position: absolute;
        z-index: 20;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 0.7rem; }
    .homePage .homeNavigation .accountButtons {
      border-bottom: 2px solid #d4d4d4; }
  .homePage .dashboardContent {
    padding: 35px 0px 25px 0px;
    overflow-y: scroll; }
  .homePage .homeDashboard.homeSection.expandedNav {
    padding-left: 100px;
    width: 100%; }
  .homePage .userLocationBar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 20px; }
    .homePage .userLocationBar p {
      margin-left: 15px; }
    .homePage .userLocationBar span {
      margin: 0 10px; }
  .homePage .userLocationButtons {
    display: flex; }
    .homePage .userLocationButtons .fa-arrow-left {
      margin-right: 10px; }
  .homePage .dashboardText {
    border-bottom: 4px solid #78A27A; }
  .homePage .dashboardStatus {
    margin-bottom: 15px; }
  .homePage .profileInfoContainer.minimizedInfoContainer {
    display: block;
    padding-bottom: 10px; }
  .homePage .profileInfoContainer {
    display: flex;
    border-bottom: 2px solid #d4d4d4;
    width: 100%;
    padding-bottom: 15px; }
  .homePage .profilePicCont {
    display: inline-block;
    height: 50px;
    width: 50px; }
    .homePage .profilePicCont img {
      border-radius: 50%;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border: 1px solid rgba(212, 212, 212, 0.8);
      border-radius: 50%;
      padding: 5px;
      height: 100%;
      width: 100%; }
  .homePage .profileInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px; }
    .homePage .profileInfoText .profileWelcome {
      font-size: 0.7rem;
      color: #8c959e; }
    .homePage .profileInfoText .navDisplayName {
      text-align: center;
      display: flex;
      align-items: center;
      font-size: 1rem; }
  .homePage .homeNavSubsection {
    width: 100%;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: start;
    margin-top: 25px; }
  .homePage .homeBtn {
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .homePage .homeBtnOne {
    background-color: #F6F4F9; }
  .homePage .homeBtnTwo {
    background-color: #F6F4F9; }
  .homePage .homeBtnThree {
    background-color: #EDF2EC; }
  .homePage .homeBtnFour {
    background-color: #E6F3FB; }
  .homePage .homeBtnFive {
    background-color: #FBF1F4; }
  .homePage .homeBtnSix {
    background-color: #FAF1F4; }
  .homePage button.expandBtn {
    width: 50px; }
  .homePage .defaultHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }

.overlayBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .overlayBackground .taskCheckboxChecked {
    background-color: rgba(0, 0, 0, 0.778); }
  .overlayBackground .fa-check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    cursor: pointer;
    color: white; }
  .overlayBackground .checkboxContainer {
    position: relative; }

.homeDashboard {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column; }
  .homeDashboard h1 {
    margin-bottom: 15px;
    padding: 0 25px; }
  .homeDashboard .dashboardGreeting {
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 0 25px; }
  .homeDashboard .allTasksContainer {
    position: relative;
    margin: 0 25px; }
    .homeDashboard .allTasksContainer .lds-ring {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .homeDashboard .taskContainer {
    border: 1px solid #d4d4d4;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    height: 130px;
    border-radius: 5px;
    padding: 25px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.8s ease-out 1s; }
    .homeDashboard .taskContainer button {
      border: 0; }
    .homeDashboard .taskContainer .dueDateContainer {
      position: absolute;
      bottom: 10px;
      right: 20px; }
    .homeDashboard .taskContainer .buttonContainer {
      position: absolute;
      top: 20px;
      right: 20px;
      border: 0;
      display: flex; }
      .homeDashboard .taskContainer .buttonContainer i {
        font-size: 1.4rem; }
      .homeDashboard .taskContainer .buttonContainer .exitBtn {
        margin-left: 15px; }
      .homeDashboard .taskContainer .buttonContainer .finishButton {
        background-color: #0D66D0;
        color: white;
        font-size: 0.7rem;
        padding: 2px 15px;
        border-radius: 2px;
        margin-right: 1px;
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
        cursor: pointer; }
      .homeDashboard .taskContainer .buttonContainer .fa-angle-down {
        background-color: #0D66D0;
        padding: 7px 5px;
        border-radius: 2px;
        font-size: 0.7rem;
        color: white;
        box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
    .homeDashboard .taskContainer .buttonContainer.buttonHidden {
      display: none; }
    .homeDashboard .taskContainer input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #111111;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: block;
      margin: 0 25px 0 0;
      cursor: pointer; }
    .homeDashboard .taskContainer .dropdownOptions {
      width: 100%;
      position: absolute;
      top: 100%;
      background-color: white;
      border: 1px solid #d4d4d4; }
      .homeDashboard .taskContainer .dropdownOptions li {
        border-bottom: 1px solid #d4d4d4; }
      .homeDashboard .taskContainer .dropdownOptions button {
        font-weight: 300;
        font-size: 0.7rem;
        padding-left: 5px; }
    .homeDashboard .taskContainer .dropdownOptions.hidden {
      display: none; }
  .homeDashboard .noTaskFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 50px;
    white-space: nowrap; }
  .homeDashboard .loadingContainer {
    height: 200px; }
    .homeDashboard .loadingContainer p {
      margin-bottom: 150px; }
  .homeDashboard .errorImageContainer {
    width: 80px;
    height: auto; }
    .homeDashboard .errorImageContainer img {
      display: block;
      height: 100%;
      width: 100%; }
  .homeDashboard .errorImageContainerTwo {
    margin-top: 20px; }
  .homeDashboard .taskMainContainer.closedContainer {
    height: 0;
    overflow-y: hidden; }
  .homeDashboard .taskMainContainer.openContainer {
    height: initial;
    overflow-y: auto; }
  .homeDashboard .fa-sort,
  .homeDashboard .fa-magnifying-glass,
  .homeDashboard .fa-arrow-down-wide-short {
    font-size: 0.8rem; }
  .homeDashboard .fa-magnifying-glass {
    margin-right: 10px; }
  .homeDashboard .taskFinderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #e0e1e3;
    padding: 0px 25px 15px 25px; }
    .homeDashboard .taskFinderContainer .taskListButtons {
      display: flex; }
      .homeDashboard .taskFinderContainer .taskListButtons button {
        margin-right: 10px; }
  .homeDashboard .searchContainer {
    position: relative;
    display: flex;
    align-items: center; }
    .homeDashboard .searchContainer .lds-ring {
      position: absolute;
      right: 20px;
      top: 10%;
      height: 20px;
      width: 20px; }
      .homeDashboard .searchContainer .lds-ring div {
        height: 20px;
        width: 20px;
        border: 3px solid #A5D6A7;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #A5D6A7 transparent transparent transparent; }
  .homeDashboard .searchBarInput {
    height: 40px;
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgba(212, 212, 212, 0.8);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .homeDashboard .searchBarInput::placeholder {
    font-family: "Nunito Sans", sans-serif; }
  .homeDashboard .toDoTask,
  .homeDashboard .doneTask {
    width: 50%;
    padding: 5px 0px; }
  .homeDashboard .toDoTask {
    border-radius: 15px 0px 0px 15px; }
  .homeDashboard .doneTask {
    border-radius: 0px 15px 15px 0px; }
  .homeDashboard .taskText {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .homeDashboard .taskButtonActive {
    color: white;
    background-color: black; }
  .homeDashboard .taskFilters {
    margin: 30px 0 20px 0;
    padding: 0 25px; }
  .homeDashboard .labelContainer {
    display: flex; }
    .homeDashboard .labelContainer p {
      border: 1px solid rgba(212, 212, 212, 0.8);
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border-radius: 5px;
      margin-right: 10px;
      margin-top: 10px;
      padding: 5px; }
    .homeDashboard .labelContainer .personal {
      background-color: #FBF1F4; }
    .homeDashboard .labelContainer .school {
      background-color: #F6F4F9; }
    .homeDashboard .labelContainer .work {
      background-color: #EDF2EC; }
    .homeDashboard .labelContainer .importantDate {
      background-color: #E6F3FB; }
    .homeDashboard .labelContainer .appointment {
      background-color: #F6F4F9; }
    .homeDashboard .labelContainer .exercise {
      background-color: #FAF1F4; }
    .homeDashboard .labelContainer .chores {
      background-color: #f8f1fb; }
    .homeDashboard .labelContainer .low {
      background-color: #A5D6A7; }
    .homeDashboard .labelContainer .medium {
      background-color: #FEEFD0; }
    .homeDashboard .labelContainer .high {
      background-color: #FFCED6; }
  .homeDashboard .buttonRelativePosition {
    position: relative; }
  .homeDashboard .filterContainer {
    background-color: #e6f3fbc5;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center; }
    .homeDashboard .filterContainer p {
      margin-left: 10px; }
  .homeDashboard .filterModal {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10;
    width: 200px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
    background-color: white; }
    .homeDashboard .filterModal fieldset {
      display: flex;
      flex-direction: column;
      padding: 0; }
      .homeDashboard .filterModal fieldset div {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(181, 179, 179, 0.8);
        padding: 5px 0; }
        .homeDashboard .filterModal fieldset div input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 1px solid black;
          height: 17px;
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          margin: 0 10px;
          cursor: pointer; }
        .homeDashboard .filterModal fieldset div input[type=radio]:checked::before {
          content: '✔️';
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          line-height: 12px; }
        .homeDashboard .filterModal fieldset div label {
          cursor: pointer;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          font-weight: 300;
          font-size: 0.8rem; }
  .homeDashboard .taskDeadlineDateContainer {
    display: flex;
    position: relative; }
    .homeDashboard .taskDeadlineDateContainer p {
      border-bottom: 1px solid #e0e1e3;
      background-color: #f4f4f4;
      border-radius: 5px;
      padding: 5px 5px 5px 15px;
      width: 100%; }
    .homeDashboard .taskDeadlineDateContainer i {
      position: absolute;
      bottom: 4px;
      right: 27px; }

.createTaskForm {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 70%;
  min-height: 85%;
  height: 90%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #F1F5F9;
  z-index: 20;
  box-shadow: 0px 36px 89px rgba(0, 0, 0, 0.04), 0px 23.3333px 52.1227px rgba(0, 0, 0, 0.0303704), 0px 13.8667px 28.3481px rgba(0, 0, 0, 0.0242963), 0px 7.2px 14.4625px rgba(0, 0, 0, 0.02), 0px 2.93333px 7.25185px rgba(0, 0, 0, 0.0157037), 0px 0.66667px 3.50231px rgba(0, 0, 0, 0.00962963); }
  .createTaskForm .formPrimarySection {
    padding: 20px 80px 20px 80px;
    width: 70%; }
  .createTaskForm button {
    border: 0; }
  .createTaskForm fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    border: 0;
    margin: 0; }
  .createTaskForm .formField {
    margin-top: 10px; }
  .createTaskForm legend {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 25px; }
    .createTaskForm legend h2 {
      font-size: 1.5rem;
      text-transform: capitalize;
      color: black;
      border-bottom: 3px solid #d4d4d4;
      padding-bottom: 10px;
      width: 100%;
      font-family: "Inter", sans-serif; }
  .createTaskForm input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .createTaskForm .formSection {
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    align-items: center; }
    .createTaskForm .formSection label,
    .createTaskForm .formSection input {
      display: inline-block; }
    .createTaskForm .formSection label {
      width: 30%;
      margin-bottom: 15px;
      color: #6D767E; }
    .createTaskForm .formSection input {
      width: 100%;
      padding: 0px 0px 0px 8px;
      background-color: #FFFFFF;
      margin-left: 30px;
      height: 35px; }
    .createTaskForm .formSection span {
      margin-right: 5px; }
  .createTaskForm .exitButton {
    position: absolute;
    top: 15px;
    right: 20px; }
  .createTaskForm .buttonSection {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .createTaskForm .buttonSection button {
      padding: 5px 0;
      border-radius: 10px;
      min-width: 125px;
      font-size: 1rem; }
    .createTaskForm .buttonSection button,
    .createTaskForm .buttonSection .cancelBtn {
      height: 35px; }
  .createTaskForm .submitBtn {
    margin-left: 15px;
    background-color: #36CB82;
    color: white;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .createTaskForm .cancelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 5px 0;
    border-radius: 10px;
    height: 50px;
    min-width: 125px;
    font-size: 1rem;
    color: black;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .createTaskForm .prioritySection {
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    background-color: #FFFFFF;
    padding: 35px 30px;
    border-radius: 5px;
    margin-top: 50px; }
    .createTaskForm .prioritySection label {
      margin: 0; }
    .createTaskForm .prioritySection input {
      margin: 0; }
  .createTaskForm .paragraphLabel {
    margin-right: 125px;
    width: 30%;
    color: #6D767E;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center; }
  .createTaskForm .priorityContainer {
    display: flex;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    cursor: pointer; }
    .createTaskForm .priorityContainer label {
      width: 100px !important;
      cursor: pointer; }
    .createTaskForm .priorityContainer input {
      height: 20px;
      cursor: pointer; }

.formSecondarySection {
  min-height: 100%;
  width: 30%;
  background-color: #FFFFFF;
  padding: 30px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .formSecondarySection .labelSection {
    display: flex;
    flex-direction: column; }
  .formSecondarySection .createLabelTextContainer {
    position: relative; }
    .formSecondarySection .createLabelTextContainer .createNewLabelBtn {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      color: #6F6F6F;
      font-size: 1.3rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .formSecondarySection .saveLabelsContainer {
    display: flex;
    align-items: center;
    margin-top: 25px; }
    .formSecondarySection .saveLabelsContainer label {
      width: calc(100% - 30px);
      margin: 0 5px 0 0;
      padding-left: 5px;
      line-height: 20px; }
    .formSecondarySection .saveLabelsContainer input {
      padding: 0;
      cursor: pointer;
      height: 20px;
      width: 20px; }
  .formSecondarySection .orSection {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .formSecondarySection .orSection p {
      color: #6D767E;
      transform: translateY(35%); }
  .formSecondarySection .orSectionBorder {
    width: 30%;
    border-bottom: 2px solid #d4d4d4;
    display: block; }
  .formSecondarySection input {
    width: 100%;
    padding: 0px 0px 0px 8px;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 35px; }
  .formSecondarySection label {
    color: #6D767E;
    margin-bottom: 10px;
    margin-top: 20px; }
  .formSecondarySection select {
    background-color: transparent;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    border-radius: 5px;
    padding: 0px 0px 0px 8px;
    height: 35px; }
  .formSecondarySection .customTaskError {
    border: 1px solid red;
    border-radius: 5px; }
  .formSecondarySection .customTaskErrorMsg {
    padding-top: 10px; }
  .formSecondarySection .selectedTaskError {
    border: 1px solid red; }

.existingLabelSection {
  border-bottom: 3px solid #d4d4d4;
  padding-bottom: 15px; }

.existingLabelButtons {
  display: flex;
  justify-content: space-between; }
  .existingLabelButtons .createNewLabelBtn {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: #6F6F6F;
    font-size: 1.3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.existingTaskSelect {
  width: 90%; }

.lowPriorityContainer {
  background-color: #A5D6A7; }

.mediumPriorityContainer {
  background-color: #FEEFD0; }

.highPriorityContainer {
  background-color: #FFCED6; }

input[type="color"] {
  width: 50%;
  padding: 5px;
  cursor: pointer; }

.colorSection {
  border-bottom: 3px solid #d4d4d4;
  padding-bottom: 25px; }

.colorChoiceHelp {
  margin-top: 10px;
  display: flex;
  align-items: center; }
  .colorChoiceHelp p {
    font-size: 0.8rem;
    color: #5fadd2;
    margin-left: 10px; }

.chosenLabelsSection {
  margin-top: 20px; }

.appliedTaskLabel {
  padding: 5px 10px;
  border: 1px solid rgba(212, 212, 212, 0.9);
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  display: inline-flex;
  align-items: center; }
  .appliedTaskLabel i {
    font-size: 1rem;
    padding-left: 10px;
    color: #ff6781;
    cursor: pointer; }

.react-calendar {
  border-radius: 10px; }

.react-calendar__tile {
  background-color: white;
  border: 0;
  font-size: 1rem; }

.react-calendar__tile--now {
  background-color: #A8DAAC; }
  .react-calendar__tile--now abbr {
    color: white; }

.react-calendar__navigation {
  display: flex;
  align-items: center;
  background-color: #A5D6A7;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  border: 1px solid #d4d4d4; }
  .react-calendar__navigation span {
    color: white; }

.react-calendar__viewContainer {
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
  border: 1px solid #d4d4d4;
  padding: 10px 3px; }

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  border: 0;
  color: white; }

.react-calendar__navigation__arrow {
  font-size: 1.5rem; }

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none; }

.react-calendar__month-view__days__day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0; }

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }

abbr {
  color: #C8CCC4;
  font-size: 0.6rem; }

.taskDetails {
  padding: 35px 0px 20px 0;
  width: 80%;
  display: flex;
  flex-direction: column; }
  .taskDetails .userLocationBar {
    margin-top: 5px; }
    .taskDetails .userLocationBar span {
      margin: 0 10px; }
  .taskDetails .taskToolBar {
    height: 100%;
    margin-right: 20px;
    display: flex; }
    .taskDetails .taskToolBar button {
      margin-left: 15px; }
    .taskDetails .taskToolBar .toolBarBtn {
      background-color: transparent;
      padding: 0;
      font-size: 1rem;
      color: black; }
  .taskDetails .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(212, 212, 212, 0.9);
    padding: 0 30px 20px 30px; }
  .taskDetails .taskInformation {
    display: flex;
    align-items: center; }
    .taskDetails .taskInformation i {
      margin-right: 15px;
      background-color: #EDF2EC;
      padding: 10px 15px;
      border-radius: 10px; }
  .taskDetails p.label {
    margin-bottom: 10px; }
  .taskDetails .taskDescription,
  .taskDetails .taskData,
  .taskDetails .updateTaskBtns,
  .taskDetails .updateTasksContainer,
  .taskDetails .taskLabelContainer {
    margin-top: 35px;
    padding: 0 30px; }
  .taskDetails .taskDescription textarea {
    width: 100%; }
  .taskDetails .taskData {
    display: flex; }
  .taskDetails .dueTimeLabel,
  .taskDetails .completionLabel {
    margin: 0px 50px; }
  .taskDetails .labelContainer {
    display: flex; }
    .taskDetails .labelContainer p {
      margin-right: 15px;
      border: 1px solid rgba(212, 212, 212, 0.9);
      padding: 5px 10px;
      border-radius: 5px;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .taskDetails .updateTaskBtns {
    position: relative; }
    .taskDetails .updateTaskBtns i {
      font-size: 0.9rem;
      margin-right: 10px; }
    .taskDetails .updateTaskBtns button {
      border: 1px solid rgba(212, 212, 212, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 15px;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
    .taskDetails .updateTaskBtns .updatesBtn {
      background-color: #2873D3; }
  .taskDetails .updateTasksContainer {
    border: 1px solid rgba(212, 212, 212, 0.9);
    padding: 15px;
    margin: 25px 30px;
    border-radius: 5px;
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .taskDetails .taskDetailsForm {
    margin: 30px 30px 0 30px; }
    .taskDetails .taskDetailsForm textarea {
      width: 100%;
      border: 1px solid rgba(212, 212, 212, 0.9);
      border-radius: 5px;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      resize: none;
      padding: 15px; }
  .taskDetails .updateTaskBtnContainer {
    margin-top: 25px;
    display: flex; }
    .taskDetails .updateTaskBtnContainer .btn,
    .taskDetails .updateTaskBtnContainer button {
      border: 1px solid rgba(212, 212, 212, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 15px;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5); }
  .taskDetails .updateHoursContainer {
    position: absolute;
    z-index: 10;
    top: 100%;
    background-color: white;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(212, 212, 212, 0.5);
    padding: 20px;
    border-radius: 5px; }
  .taskDetails .logTimeForm {
    display: flex;
    justify-content: space-between;
    margin-top: 15px; }
  .taskDetails input[type=number] {
    width: 50px;
    -moz-appearance: textfield;
    margin-top: 5px; }
  .taskDetails input::-webkit-outer-spin-button,
  .taskDetails input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .taskDetails .specificDayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    text-align: center; }
  .taskDetails .todayContainerTitle {
    background-color: #E9E8E7;
    border-radius: 5px; }
  .taskDetails .logTimeOptionBtns {
    display: flex;
    font-size: 1rem; }
    .taskDetails .logTimeOptionBtns button {
      border-radius: 5px;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border: 1px solid rgba(212, 212, 212, 0.5);
      padding: 4px 10px;
      margin-right: 20px; }
    .taskDetails .logTimeOptionBtns button[type=submit] {
      background-color: #2873D3;
      color: white; }
  .taskDetails .taskCommentContainer {
    margin: 10px 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.047), 0 1.54074px 2.86667px rgba(0, 0, 0, 0.073), 0 0.32593px 0.73333px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    position: relative; }
    .taskDetails .taskCommentContainer .buttonsContainer {
      position: absolute;
      top: 5px;
      right: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .taskDetails .taskCommentContainer .buttonsContainer i {
        font-size: 1.2rem; }
      .taskDetails .taskCommentContainer .buttonsContainer ul {
        border: 1px solid rgba(212, 212, 212, 0.9); }
        .taskDetails .taskCommentContainer .buttonsContainer ul li {
          border-bottom: 1px solid rgba(212, 212, 212, 0.9);
          padding: 0 5px; }
  .taskDetails .profilePicContainer {
    width: 50px;
    height: 50px; }
    .taskDetails .profilePicContainer img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
  .taskDetails .commentText {
    margin-left: 25px; }
    .taskDetails .commentText .username {
      margin-bottom: 10px;
      font-weight: bold; }
  .taskDetails .timePublished {
    margin-top: 15px; }
  .taskDetails .alterUpdateOption {
    display: none; }
    .taskDetails .alterUpdateOption button {
      font-size: 0.8rem; }
  .taskDetails .pageOverlay {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5); }
    .taskDetails .pageOverlay .lds-ring {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .taskDetails .editContainer {
    display: flex;
    align-items: center; }
  .taskDetails p.enableIndicator {
    font-size: 0.7rem;
    margin-left: 25px;
    color: #2873D3;
    border: 1px solid #2873D3;
    padding: 2px;
    border-radius: 5px; }
  .taskDetails .toolBarCombo {
    position: relative; }
  .taskDetails .toolBarExtension {
    position: absolute;
    font-size: 0.6rem;
    background-color: black;
    border-radius: 50%;
    bottom: 0px;
    right: -5px;
    color: white;
    width: 12px;
    height: 12px; }
  .taskDetails .taskBtnContainer {
    display: flex;
    align-items: center;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    padding: 5px 8px;
    border-radius: 5px; }
    .taskDetails .taskBtnContainer p {
      font-weight: bold;
      margin-left: 10px; }
  .taskDetails .savingMessageContainer {
    display: flex;
    margin-left: 30px; }
    .taskDetails .savingMessageContainer .lds-ring {
      height: 20px;
      width: 20px; }
      .taskDetails .savingMessageContainer .lds-ring div {
        height: 20px;
        width: 20px;
        border: 3px solid #A5D6A7;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #A5D6A7 transparent transparent transparent; }
  .taskDetails .percentError,
  .taskDetails .savingStatusMessage {
    font-size: 0.7rem;
    top: 5px;
    padding-top: 10px; }
  .taskDetails .percentError {
    color: #e00000;
    margin-left: 30px; }
  .taskDetails .savingStatusMessage {
    color: #015e01;
    margin-left: 20px; }
  .taskDetails .deleteModal {
    position: fixed;
    z-index: 30;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px; }
    .taskDetails .deleteModal h2 {
      text-transform: capitalize;
      margin: 30px 0 20px 0; }
    .taskDetails .deleteModal p {
      text-align: center;
      margin-bottom: 35px; }
    .taskDetails .deleteModal .errorIcon {
      position: relative; }
    .taskDetails .deleteModal .fa-circle-exclamation {
      color: #FE3E56;
      position: relative;
      z-index: 40;
      background-color: white;
      border-radius: 50px; }
    .taskDetails .deleteModal .errorBackground {
      background-color: #FEA7B0;
      height: 56px;
      width: 56px;
      position: absolute;
      top: -8px;
      left: -8px;
      border-radius: 10px; }
    .taskDetails .deleteModal .noBtn {
      background-color: #d8d6d6; }
    .taskDetails .deleteModal .yesBtn {
      background-color: #FF3F56;
      color: white;
      margin-left: 20px; }
    .taskDetails .deleteModal button {
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 30px; }
  .taskDetails .overlayModal {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .taskDetails .logTimeBtnTwo {
    background-color: #2873D3;
    color: white; }
  .taskDetails .totalHours {
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid rgba(212, 212, 212, 0.9); }
  .taskDetails .logTimeFlexContainer {
    display: flex;
    align-items: center; }
  .taskDetails .moreDaysBtn {
    height: 50%;
    margin-top: 10px; }
    .taskDetails .moreDaysBtn i {
      margin: 0; }
  .taskDetails .descriptionParagraph {
    overflow-wrap: break-word; }
  .taskDetails select {
    background-color: white;
    border: 1px solid rgba(212, 212, 212, 0.9);
    box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
    border-radius: 5px; }
  .taskDetails .hiddenUpdate {
    display: none; }

.toDoListSection {
  margin-top: 25px;
  background-color: white;
  border: 1px solid #d4d4d4;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px; }
  .toDoListSection .toDoListTitleContainer {
    background-color: #F6F4F9;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0px;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0px 0px; }
    .toDoListSection .toDoListTitleContainer button {
      border: 0;
      position: absolute;
      top: 5px;
      right: 15px; }
    .toDoListSection .toDoListTitleContainer i {
      font-size: 1rem;
      color: black;
      box-shadow: 2px 4px rgba(212, 212, 212, 0.5);
      border: 1px solid #d4d4d4;
      border-radius: 50%;
      padding: 1px;
      background-color: #F6F4F9; }
  .toDoListSection .toDoListTasks {
    min-height: 100%; }
    .toDoListSection .toDoListTasks li {
      font-family: inherit;
      text-transform: capitalize;
      color: gray;
      font-size: 0.7rem;
      border: 1px solid #d4d4d4;
      padding: 8px 5px; }
    .toDoListSection .toDoListTasks .toDoTaskWidget {
      position: relative;
      box-shadow: 0;
      border: 0; }
      .toDoListSection .toDoListTasks .toDoTaskWidget li {
        display: flex; }
      .toDoListSection .toDoListTasks .toDoTaskWidget p {
        font-size: 0.7rem;
        margin-left: 5px;
        color: black; }
    .toDoListSection .toDoListTasks button {
      position: absolute;
      top: 0px;
      right: 7px; }
    .toDoListSection .toDoListTasks i {
      font-size: 0.9rem;
      color: #e61b1b; }
  .toDoListSection .toDoInputContainer {
    display: flex;
    margin: 0px 10px 10px 10px;
    position: relative; }
    .toDoListSection .toDoInputContainer input {
      height: 0;
      width: 0%;
      border: 0;
      padding: 0;
      padding-left: 10px;
      border: 0;
      border-radius: 5px 15px 15px 5px;
      transition: all 0.2s linear 0.2s; }
    .toDoListSection .toDoInputContainer .buttonOff {
      display: none; }
    .toDoListSection .toDoInputContainer .inputOn {
      height: 40px;
      width: 100%;
      border: 1px solid #d4d4d4; }
    .toDoListSection .toDoInputContainer button {
      border: 0;
      border-radius: 50%;
      background-color: #F6F4F9;
      color: black;
      padding: 0px 5px;
      height: 40px;
      width: 40px;
      position: absolute;
      bottom: 0;
      right: -5px;
      border: 1px solid #d4d4d4;
      text-align: center; }
